<div>
    <div id="body2">
        <div>
            <h1 class="text-center justify-content mt-5"  style="color: rgb(11, 3, 28);" data-aos="flip-right" data-aos-duration="1000"><b>Security</b></h1>
        <div class="g1">
    
          <span class="g11" data-aos="flip-right" data-aos-duration="1000">
            <div><img src="../../../../assets/s5.png" height="250" width="250"></div>
                <div >
                    <h3  style="color: rgb(11, 3, 28);">Visitor Management System</h3>
                    <p [ngClass]="{'limitTextHeight': readMore}">We make your visitor a pleasure and secure entry</p>
                    <button (click)="onReadMore()" [style.background-color]="readMore ? 'rgb(15, 117, 106)' : 'rgb(228, 101, 10)'" style="color: white; border: none; padding: 10px; border-radius: 10px; font-size: 15px;"> {{readMore?"Read More":"Read Less"}}</button>
                 </div>
                </span>
          <span class="g11" data-aos="fade-down" data-aos-duration="1000">
            <div><img src="../../../../assets/s2.png" height="250" width="250"></div>
            <div>
                <h3  style="color: rgb(11, 3, 28);">Services and Staff Monitoring</h3>
                <p [ngClass]="{'limitTextHeight': ReadMore}">Security guards can track the entry and exit times of staff and vendors as well as check attendance and put a stop to unauthorized overstaying. </p>
                <button (click)="onRead()" [style.background-color]="ReadMore ? 'rgb(15, 117, 106)' : 'rgb(228, 101, 10)'" style="color: white; border: none; padding: 10px; border-radius: 10px; font-size: 15px;">
                   {{ReadMore?"Read More":"Read Less"}}
              </button>     
            </div>
        </span>
          <span class="g11" data-aos="flip-left" data-aos-duration="1000">
            <div><img src="../../../../assets/s7.png" height="250" width="250" ></div>
            <div >
                <h3  style="color: rgb(11, 3, 28);">User-friendly Guard App, Bill Payments</h3> 
                <p [ngClass]="{'limitTextHeight': isReadMore}">Your security guard can choose to use the app in any
            that he is comfortable with. This app is designed to keep things simple so that guards can use it efficiently
                </p>
                <button (click)="onclick()" [style.background-color]="isReadMore ? 'rgb(15, 117, 106)' : 'rgb(228, 101, 10)'" style="color: white; border: none; padding: 10px; border-radius: 10px; font-size: 15px;">
                    {{isReadMore?"Read More":"Read Less"}}
               </button>
               
             </div>
        </span> 
    
         </div>
         </div>
        
    </div> 
<div id="Services"></div>
<div>
    <h3 class=" text-center justify-content mt-5" style="color: rgb(11, 3, 28);font-size: xx-large;" data-aos="flip-right" data-aos-duration="3000" ><b>Management</b></h3>
</div>

<div id="body1" >
<div class="mt-1 img" data-aos="fade-right" data-aos-duration="3000"><img src="../../../../assets/f.png"  ></div>

<div class="p-3">
   
    <div class="f1"  data-aos="flip-right" data-aos-duration="3000">
    <div><img src="../../../../assets/m1.png" height="100" width="100"></div>
    <div>
        <h3  style="color: rgb(11, 3, 28);">
        Accounts & Billing Management
        </h3>
        <p>
Manage everything related to the society’s finances. From bookkeeping and asset management to managing bank accounts, its all here.
        </p>
    </div>
        </div>

        <div class="f1"  data-aos="flip-right" data-aos-duration="3000">
            <span><img src="../../../../assets/m2.png" height="100" width="100"></span>
            <span>
                <h3 style="color: rgb(11, 3, 28);">
                    Maintenance & Utility Bill Payments
                </h3>
                <p>
                    All Payment Receivables and Payable through payment gateway .</p>
                </span>
                </div>

                <div class="f1"  data-aos="flip-right" data-aos-duration="3000">
                    <span><img src="../../../../assets/m3.png" height="100" width="100"></span>
                    <span>
                        <h3 style="color: rgb(11, 3, 28);">Residents & Apartments Management
                        </h3>
                        <p>
                            Residents can update "Expected Visitor" details on MyKommunity mobile app.  </p>
                        </span>
                        </div>

                        <div class="f1"  data-aos="flip-right" data-aos-duration="3000">
                            <span><img src="../../../../assets/m4.png" height="100" width="100"></span>
                            <span>
                                <h3 style="color: rgb(11, 3, 28);">
                                    Complain Management
                                </h3>
                                <p>
                                    Track and resolve all residents and apartment issues. Assign owners for issues and escalations for closure and get faster resolutions.</p>
                                </span>
                                </div>

                                <div class="f1"  data-aos="flip-right" data-aos-duration="3000">
                                    <span><img src="../../../../assets/m5.png" height="100" width="100"></span>
                                    <span>
                                        <h3 style="color: rgb(11, 3, 28);">
                                            Manage Staff and Vendors
                                        </h3>
                                        <p>
                                            Manage and monitor the staff members and all vendors with ease.</p>
                                        </span>
                                        </div>

    </div>

</div>

 <!-- -->
<!-- <div class="card2">
    <div data-aos="fade-right" data-aos-duration="3000" >
        <img src="../../../assets/p3.jpg"  height="500" width="300">
    </div>
    <div data-aos="fade-down" data-aos-duration="3000"><img src="../../../assets/p1.jpg"  height="500" width="300"></div>
    <div  data-aos="fade-left" data-aos-duration="3000"><img src="../../../assets/p4.jpg"  height="500" width="300"></div>
</div> -->
<div >
    <h1 class="text-center justify-content mt-5"  style="color: rgb(11, 3, 28);font-size: xx-large;" data-aos="flip-right" data-aos-duration="3000"><b>Our Services</b></h1>

</div>
<div id="body">
    
<div class="box">
   
    <span style="--i:1;" >
        <img src="../../../../assets/p3.jpg"  height="500" width="250">
    </span>
    <span style="--i:2;" ><img src="../../../../assets/p1.jpg"  height="500" width="250"></span>
    <span style="--i:3;" ><img src="../../../../assets/p4.jpg"  height="500" width="250"></span>
    <span style="--i:4;" >
        <img src="../../../../assets/p3.jpg"  height="500" width="250">
    </span>
    <span  style="--i:5;" ><img src="../../../../assets/p1.jpg"  height="500" width="250"></span>
    <span style="--i:6;" ><img src="../../../../assets/p4.jpg"  height="500" width="250"></span>
    <span  style="--i:7;" ><img src="../../../../assets/p1.jpg"  height="500" width="250"></span>
    <span style="--i:8;" ><img src="../../../../assets/p4.jpg"  height="500" width="250"></span>
    
    
</div>
</div>


<!-- <div class="card">
    <div class="video-container">
      <video autoplay muted loop playsinline preload="auto" onloadedmetadata="this.muted = true" class="security-video">
        <source src="../../../../assets/securityApp.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video-container">
      <video autoplay muted loop playsinline preload="auto" onloadedmetadata="this.muted = true" class="security-video">
        <source src="../../../../assets/residentApp.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video-container">
      <video autoplay muted loop playsinline preload="auto" onloadedmetadata="this.muted = true" class="security-video">
        <source src="../../../../assets/supervisorApp.mp4" type="video/mp4">
      </video>
    </div>
  </div> -->
<!-- app-grid.component.html -->
<!-- <div class="app-container">
  <h1 class="app-title">Our Applications</h1>
  <div class="app-grid">
    <div *ngFor="let app of apps" class="app-card" [ngClass]="'bg-' + app.color">
      <div class="card-content">
        
        <div class="icon-container">
          <img [src]="'assets/' + app.icon + '.png'" class="app-icon" alt="{{ app.title }}">
        </div>
        
        
        <h2 class="card-title">{{ app.title }}</h2>
        <p class="card-description">{{ app.description }}</p>
        
        <ul class="feature-list">
          <li *ngFor="let feature of app.features" class="feature-item">
            <span class="feature-dot"></span>
            <span class="feature-text">{{ feature }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->

<div class="society-section">
        
  <div >
      <h1 class="text-center justify-content mt-5"  style="color: rgb(11, 3, 28);font-size: xx-large;" data-aos="flip-right" data-aos-duration="3000"><b>Our Applications</b></h1>
  
  </div>
<div class="grid-container">
  <div class="app-card" *ngFor="let app of apps">
    <div class="icon-container">
      <img  [src]="'assets/' + app.icon + '.png'" alt="{{ app.title }}" class="app-icon">
    </div>
    <h3>{{ app.title }}</h3>
    <ul>
      <li *ngFor="let feature of app.features">{{ feature }}</li>
    </ul>
  </div>
</div>
</div>

 
    <div class="society-section">
        
        <div >
            <h1 class="text-center justify-content mt-5"  style="color: rgb(11, 3, 28);font-size: xx-large;" data-aos="flip-right" data-aos-duration="3000"><b>Our Clients</b></h1>
        
        </div>
        <div class="carousel-container">
          
          <button class="nav-btn prev-btn" (click)="prevSlide()">&#8249;</button>
          
          <div class="society-carousel">
            <div class="society-wrapper" [style.transform]="'translateX(' + translateX + 'px)'">
             
              <div class="society-card">
                <img src="../../../../assets/mvv.png" alt="Society Name" class="society-image">
                <p class="society-name">MVV Silver Homes, Vizag</p>
              </div>
              <div class="society-card">
                <img src="../../../../assets/beachFront.png" alt="Society Name" class="society-image">
                <p class="society-name">Fortune Beach Front View, Vizag</p>
              </div>
              <div class="society-card">
                <img src="../../../../assets/mvv.png" alt="Society Name" class="society-image">
                <p class="society-name">MVV Green Fields, Vizag</p>
              </div>
             
              <div class="society-card">
                <img src="../../../../assets/utkalVatika.png" alt="Society Name" class="society-image">
                <p class="society-name">Utkal Vatika, Bhubaneswar</p>
              </div>
              <!-- <div class="society-card">
                <img src="../../../../assets/gkg.jpg" alt="Society Name" class="society-image">
                <p class="society-name">Gatikrishna Green, Puri</p>
              </div> -->
            </div>
          </div>
      
          <button class="nav-btn next-btn" (click)="nextSlide()">&#8250;</button>
        </div>
      </div>

</div>