
<div class="container-fluid ">
    <div class="page_box" style="color: aliceblue;">
      <span mat-raised-button class="btn btn-lg mt-1 p-2" style="color: white;" (click)="back()"><mat-icon>fast_rewind</mat-icon> </span>        
  
      Approval
    </div>
    <div class="page_content shadow p-3 position-relative">
        <div class="page_content-data position-absolute">
  </div>
  <!-- <button mat-stroked-button class="btn m-1 p-2" style="background-color: #1e293b; color: white;" (click)="open(content)"><mat-icon>add_circle_outline</mat-icon> Add RentalUnit Details</button> -->
  
  <h1>Approval for changes in Residents Credit or Debit Amount</h1>
  <div class="table-wrapper">

         <table class="table table-bordered   ">
      <thead>
      <tr>
        <th scope="col">Door Number</th> 
        <th scope="col">Previous Debit</th> 

        <th scope="col">changes in Debit</th>
        <th scope="col">Previous Credit</th> 
 
        <th scope="col">Changes in Credit</th> 

        <th scope="col">Action</th>   
      </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor = "let us of readData2 |
        paginate: { 
          itemsPerPage: 8, 
          currentPage:page,
          totalItems:totalLength
                        }">
        <td>{{us.blockName}} - {{us.floorName}} - {{us.rentalUnitName}}</td>
        <td>{{us.area}}</td>
        <td>{{us.houseType}}</td>
        <td>{{us.debit}}</td>
        <td>{{us.credit}}</td>
        <td>
            <mat-icon color="primary" (click)="open(content)" (click)="OnEdit(us,form)"  >edit</mat-icon>
           
            </td>
      </tr> -->
      <tr >
        <td>Tower A -112</td>
        <td>0</td>
        <td>1000</td>
        <td></td>
        <td></td>


       
        <td>
            <button mat-stroked-button style="color: white;  border: none; font-size: small; background-color: green;"
          (click)="open(content)" > Approved</button>           
            </td>
      </tr>
      <tr >
        <td>Tower A -111</td>
      
        <td></td>
        <td></td>
        <td>100</td>
        <td>1000</td>
        <td>
            <button mat-stroked-button style="color: white;  border: none; font-size: small; background-color: rgb(212, 57, 57);"
            > Rejected</button>             
            </td>
      </tr>
      
      </tbody>
      
       </table>
            </div>
    <!-- <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls> -->
  
    <div fxLayoutAlign="center center" fxFlexFill>
  
        <ng-template class="modal" #content let-modal style="background-color: rgba(196, 200, 167, 0.5);">
          
          <div class="modal-header" style="padding: 0px;" >
            <mat-toolbar class="btn" style="display: flex; justify-content: end;">
            <button  type="button" style="display: flex; justify-content: end;"  class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')"><mat-icon>close</mat-icon></button>
          </mat-toolbar>
          </div>
          
          <div class="modal-content">
            
            <div class="modal-body">
                <mat-card >
              <h3> 
              Do you really want to approve the Changes in Credit/Debit Amount of the RentalUnit
             
                </h3>
                <div style="display: flex; justify-content: center;">
                <button mat-fab color="accent" >
                    <mat-icon>verified</mat-icon>
                  </button>
                  </div>
              </mat-card>
              <!-- <button mat-fab color="accent" style="display: flex; justify-content: center; ">
                <mat-icon>verified</mat-icon>
              </button> -->
              <!-- <mat-icon color="green" style="display: flex; justify-content: center; size: 50px;">verified</mat-icon> -->
            </div>
            <div class="modal-footer">
                <button  (click)="modal.close('Save click')"   class="btn-group btn " style="background-color: green; color: white;" ><mat-icon>check_circle</mat-icon> Approve</button>

                <button type="submit" class=" btn-group btn btn-danger" (click)="modal.close('Save click')"><mat-icon>cancel</mat-icon> Reject</button>        
                </div>
          </div>
        </ng-template>
        
        </div> 
    </div>
    </div>  