
<div class="container-fluid ">
    <div class="page_box" style="color: aliceblue;">
      <span mat-stroked-button class="btn mt-1 p-2" style="color: white;" (click)="back()"><mat-icon>fast_rewind</mat-icon> </span>        

    Removed House Type</div>
      <div class="page_content shadow p-3 position-relative">
        <div class="page_content-data position-absolute">
            </div>
  
  <div class="top-content">
    <div class="button-container">
      <!-- Button: Add Service Provider -->
      
  
      <!-- Button: Export CSV -->
      <button mat-raised-button 
              (click)="exportData()" 
              class="btn m-1 pe-2 button-responsive" 
              style="background-color: #1e293b; color: white;"
              >
        <mat-icon>file_download</mat-icon> Export CSV
      </button>
  
      <!-- Button: Select Columns -->
      <button mat-raised-button  (click)="toggleModal()" 
      class="btn m-1 pe-2 button-responsive" 
      style="background-color: #1e293b; color: white;">
        <mat-icon>checklist</mat-icon> Visible Fields 
      </button>
    </div>
  
    <!-- Search bar -->
    <!-- <div class="search-container">
      <mat-icon class="search-icon">search</mat-icon>
      <input type="text" 
             placeholder="Search..." 
             [(ngModel)]="searchFlat" 
             class="search-bar-with-icon">
    </div> -->
  </div>
  
  
  
   
  
  <div class="modal" [ngClass]="{'show': isModalOpen}" (click)="toggleModal()">
    <div class="modal-content" (click)="$event.stopPropagation()"style="width: 60%; background-color: white; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
      <div class="settings-container">
        <div class="tab-container">
          <div class="tabs" style="display: flex; justify-content: center; align-items: center; flex-direction: row; width: 100%; padding:10px">
            <h1 style="margin: 0;">Column Selection</h1>
          </div>
          
          <div class="tab-content">
            <div class="list-container" style="display: flex; justify-content: space-between;">
              <div class="list-box" style="width: 45%;">
                <h3 style="font-weight: bold;">Hidden Columns</h3>
                <ul id="hidden-columns" class="list">
                  <li *ngFor="let column of hiddenColumns">
                    <input type="checkbox" [(ngModel)]="column.selected"> {{ column.name }}
                  </li>
                </ul> 
              </div>
              <div class="buttons-container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 20px; gap: 15px; padding: 15px;">
                <button class="btn" (click)="addColumn()"  style="width: 100px; height: 40px; background-color: #1e293b; color: white; font-weight: bold; padding: 10px; display: flex; align-items: center; justify-content: space-between;">
                  Add <span style="font-size: 14px; margin-left: 5px;">▶</span>
                </button>
                <button class="btn" (click)="removeColumn()" style="width: 100px; height: 40px; background-color: #1e293b; color: white; font-weight: bold; padding: 10px; display: flex; align-items: center; justify-content: space-between;">
                  <span style="font-size: 14px; margin-right: 5px;">◀</span> Remove
                </button>
              </div>
              <div class="list-box" style="width: 45%; padding-top: 5px;">
                <h3 style="font-weight: bold;">Displayed Columns</h3>
                <ul id="displayed-columns" class="list">
                  <li *ngFor="let column of displayedColumns">
                    <input type="checkbox" [(ngModel)]="column.selected"> {{ column.name }}
                  </li>
                </ul>
               
                <!-- <div class="reorder-buttons" style="text-align: center; margin-top: 15px;">
                  <button (click)="moveColumnUp()" class="arrow-btn">
                    <span class="material-icons">▲</span> 
                  </button>
                  <button (click)="moveColumnDown()" class="arrow-btn">
                    <span class="material-icons">▼</span> 
                  </button>
                </div> -->
              </div>
              
            </div>
          </div>  
        </div>
        <div class="footer" style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 15px; padding:10px">
          <!-- <button class="btn btn-primary" (click)="applyColumnSelection()">OK</button> -->
          <button class="btn" style="background-color: gray; color: white;" (click)="cancelChanges()" >Back</button>
          <!-- <button class="btn btn-warning" (click)="resetChanges()" >Reset</button> -->
        </div>
      </div>
    </div>
  </div>
  
    <div class="table-wrapper">

         <table class="table table-bordered   ">
      <thead>
      <tr>
        <th scope="col" (click)="sortData('houseType')" *ngIf="isColumnVisible('House Type')">House Type</th>
        <th scope="col" *ngIf="role === 'SOCIETY_ADMIN'">Restore</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor = "let us of disabledHouseTypes |
        paginate: { 
          itemsPerPage: 8, 
          currentPage:page,
          totalItems:totalLength
                        }">

        <td *ngIf="isColumnVisible('House Type')">{{us.houseType}}</td>
        <td *ngIf="role === 'SOCIETY_ADMIN'">
            <mat-icon color="success" (click)="HousetypeRestore(us)">history</mat-icon>
          </td>
        
       
      </tr>
      
      </tbody>
      
       </table>
            </div>
    <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
   
                                                                         
    
    </div>
    </div>  
