<div class="container-fluid">
    <div class="page_box" style="color: aliceblue;">
      <span mat-stroked-button class="btn  mt-1 p-2" style="color: white;" (click)="back()"><mat-icon>fast_rewind</mat-icon> </span>        

      Shift</div>
    <div class="page_content shadow p-3 position-relative">
        <div class="page_content-data position-absolute">
            </div>
           
            <div class="top-content">
              <div class="button-container">
                <!-- Button: New Resident -->
                <button *ngIf="role === 'SOCIETY_ADMIN'" 
                        mat-raised-button 
                        (click)="open(content)"
                        class="btn m-1 pe-2 button-responsive" 
                        style="background-color: #1e293b; color: white;">
                  <mat-icon>add_circle_outline</mat-icon> Add Shift
                </button>
            
                <!-- Button: Export CSV -->
                <button mat-raised-button 
                        (click)="exportData()" 
                        class="btn m-1 pe-2 button-responsive" 
                        style="background-color: #1e293b; color: white;"
                        >
                  <mat-icon>file_download</mat-icon> Export CSV
                </button>
            
                <!-- Button: Select Columns -->
                <button mat-raised-button  (click)="toggleModal()" 
                class="btn m-1 pe-2 button-responsive" 
                style="background-color: #1e293b; color: white;">
                  <mat-icon>checklist</mat-icon> Visible Fields 
                </button>
              </div>
            
              <!-- Search bar -->
              <div class="search-container">
                <mat-icon class="search-icon">search</mat-icon>
                <input type="text" 
                       placeholder="Search..." 
                       [(ngModel)]="searchShift" 
                       class="search-bar-with-icon">
              </div>
            </div>
            
            
            
             
           
            <div class="modal" [ngClass]="{'show': isModalOpen}" (click)="toggleModal()">
              <div class="modal-content" (click)="$event.stopPropagation()"style="width: 60%; background-color: white; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
                <div class="settings-container">
                  <div class="tab-container">
                    <div class="tabs" style="display: flex; justify-content: center; align-items: center; flex-direction: row; width: 100%; padding:10px">
                      <h1 style="margin: 0;">Column Selection</h1>
                    </div>
                    
                    <div class="tab-content">
                      <div class="list-container" style="display: flex; justify-content: space-between;">
                        <div class="list-box" style="width: 45%;">
                          <h3 style="font-weight: bold;">Hidden Columns</h3>
                          <ul id="hidden-columns" class="list">
                            <li *ngFor="let column of hiddenColumns">
                              <input type="checkbox" [(ngModel)]="column.selected"> {{ column.name }}
                            </li>
                          </ul> 
                        </div>
                        <div class="buttons-container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 20px; gap: 15px; padding: 15px;">
                          <button class="btn" (click)="addColumn()"  style="width: 100px; height: 40px; background-color: #1e293b; color: white; font-weight: bold; padding: 10px; display: flex; align-items: center; justify-content: space-between;">
                            Add <span style="font-size: 14px; margin-left: 5px;">▶</span>
                          </button>
                          <button class="btn" (click)="removeColumn()" style="width: 100px; height: 40px; background-color: #1e293b; color: white; font-weight: bold; padding: 10px; display: flex; align-items: center; justify-content: space-between;">
                            <span style="font-size: 14px; margin-right: 5px;">◀</span> Remove
                          </button>
                        </div>
                        <div class="list-box" style="width: 45%; padding-top: 5px;">
                          <h3 style="font-weight: bold;">Displayed Columns</h3>
                          <ul id="displayed-columns" class="list">
                            <li *ngFor="let column of displayedColumns">
                              <input type="checkbox" [(ngModel)]="column.selected"> {{ column.name }}
                            </li>
                          </ul>
                         
                          <!-- <div class="reorder-buttons" style="text-align: center; margin-top: 15px;">
                            <button (click)="moveColumnUp()" class="arrow-btn">
                              <span class="material-icons">▲</span> 
                            </button>
                            <button (click)="moveColumnDown()" class="arrow-btn">
                              <span class="material-icons">▼</span> 
                            </button>
                          </div> -->
                        </div>
                        
                      </div>
                    </div>  
                  </div>
                  <div class="footer" style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 15px; padding:10px">
                    <!-- <button class="btn btn-primary" (click)="applyColumnSelection()">OK</button> -->
                    <button class="btn" style="background-color: gray; color: white;" (click)="cancelChanges()" >Back</button>
                    <!-- <button class="btn btn-warning" (click)="resetChanges()" >Reset</button> -->
                  </div>
                </div>
              </div>
            </div>
           
        
<div class="table-wrapper">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th (click)="sortData('name')" *ngIf="isColumnVisible('Shift Name')">Shift Name</th>
        <th (click)="sortData('startTime')" *ngIf="isColumnVisible('Start Time')">Start Time</th>
        <th (click)="sortData('endTime')" *ngIf="isColumnVisible('End Time')">End Time</th>
        <th (click)="sortData('frequency')" *ngIf="isColumnVisible('Frequency')">Frequency</th>
        <th (click)="sortData('createdAt')" *ngIf="isColumnVisible('Created On')">
          Created On <span [ngClass]="sortDirection['createdAt'] ? 'asc' : 'desc'"></span>
        </th>
        <th (click)="sortData('updatedAt')" *ngIf="isColumnVisible('Updated At')">Updated On 
            <span [ngClass]="sortDirection['updatedAt'] ? 'asc' : 'desc'"></span></th>
        <!-- <th (click)="sortData('disabled')" *ngIf="isColumnVisible('Status')">Status</th> -->
        <th scope="col" *ngIf="role === 'SOCIETY_ADMIN' && isColumnVisible('Delete')">Delete</th> 
      
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="readData.length === 0">
        <td [attr.colspan]="columns.length" class="text-center" style="color: grey;">No Record Found!!!</td>
      </tr>
      <tr *ngFor="let us of readData | security: searchShift | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalLength }">
        <td *ngIf="isColumnVisible('Shift Name')">{{ us.name }}</td>
          <td *ngIf="isColumnVisible('Start Time')">{{ us.startTime }}</td>
          <td *ngIf="isColumnVisible('End Time')">{{ us.endTime }}</td>
          <td *ngIf="isColumnVisible('Frequency')">{{ us.frequency }}</td>
          <td *ngIf="isColumnVisible('Created On')">{{ us.createdAt | date:'medium' }}</td>
          <td *ngIf="isColumnVisible('Updated At')">{{ us.updatedAt | date:'medium'}}</td>
          <!-- <td *ngIf="isColumnVisible('Status')">
            <button mat-stroked-button style="color: white; border: none; font-size: small;"
            (click)="inactiveShift(us)" matTooltip="click here to activate/inactivate shift" [disabled]="role === 'SOCIETY_ADMIN_DISPLAY'"
            [style.background-color]="us.disabled === false ? 'green' : 'red'">
            {{ map[us.disabled] }}
            <mat-icon style="font-size: x-large;">{{ us.disabled === false ? 'check_circle' : 'error' }}</mat-icon>
          </button>
          </td> -->
          <td *ngIf="isColumnVisible('Delete') && role === 'SOCIETY_ADMIN'">
            <mat-icon color="warn" (click)="ShiftRemove(us.id)">delete</mat-icon>
          </td>
        
      </tr>
    </tbody>
  </table>
  
          </div>
 <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
 
 <div    style="display: flex; justify-content: flex-end;">
  <div 
    style="text-decoration: underline; color: blue; font-size:medium;"
    (click)="RemovedShiftList()"> View Past Members</div>
   
</div>
    

  
   <div fxLayoutAlign="center center" fxFlexFill>
   
    <ng-template class="modal" #content #id let-modal style="background-color: rgba(196, 200, 167, 0.5);">
     
     <div class="modal-header" style="padding: 0px;">
       <mat-toolbar class="btn" style="background-color: #1e293b; color: white;">
       <h2 class="modal-title" id="modal-basic-title">Shift Setup</h2>
       <button  type="button" class=" btn btn-close " aria-label="Close" (click)="onCancelClick()" (click)="modal.dismiss('Cross click')"></button>
     </mat-toolbar>
     </div>
     <div class="modal-body" >
       <mat-card fxFlex="100" >
       
      
       <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="form" >
       
        <mat-form-field appearance="standard"  class="full-width">
            <mat-label>Shift Name</mat-label>
            <input matInput placeholder="Night Shift/Day Shift" formControlName="name" >
            
            <mat-error>Name is required</mat-error>
            
        </mat-form-field>
        <!-- <mat-form-field appearance="fill" class="full-width">
            <mat-label>Start Time Time</mat-label>
            <input matInput  type="time"  name="startTime" required placeholder="HH:mm:ss" />
          </mat-form-field>
           
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>End Time</mat-label>
            <input matInput  type="time"  name="endTime" required placeholder="HH:mm:ss" />
          </mat-form-field> -->
          <div class="time-input-container">
            <div class="time-input-row">
                <mat-form-field appearance="fill" class="time-input-field">
                    <mat-label>Start Time</mat-label>
                    <input
                    matInput
                    type="time"
                    formControlName="startTime"
                    required
                    placeholder="HH:mm:ss"
                    class="custom-time-input"
                    [(ngModel)]="startTime"
                    (change)="onStartTimeChange()"
                  />               </mat-form-field>
          
                  <mat-form-field appearance="fill" class="time-input-field">
                    <mat-label>End Time</mat-label>
                    <input
                      matInput
                      type="time"
                      formControlName="endTime"
                      required
                      placeholder="HH:mm:ss"
                      class="custom-time-input"
                      [(ngModel)]="endTime"
                      (change)="onTimeChange()"
                    />
                  </mat-form-field>
            </div>
          </div>
          <div class="frequency-container">
            <div class="frequency-label">
              <label for="frequency">Frequency</label>
            </div>
            <select id="frequency" name="frequency" class="custom-select" required formControlName="frequency">
              <option value="0" disabled disabled selected>-- Select Frequency --</option>
              <option value="weekly">Weekly</option>
              <option value="monthly">Monthly</option>
              <option value="daily">Daily</option>
            </select>
          </div>
   
     </form>
   </mat-card>
     </div>
   
     <div class="modal-footer">
        
        <button *ngIf="!getparamid" [disabled]="loading"  (click)="saveDetails(form)"  (click)="modal.close('Save click')"  class=" btn-group btn" style="background-color: #1e293b; color: white;" >
          <span  *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Create</button>
         <button *ngIf="getparamid" [disabled]="loading" (click)="SecurityUpdate()" (click)="modal.close('Save click')"   class="btn-group btn btn-primary "style="background-color: #1e293b; color: white;" >
          <span  *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Update</button>
       
       <button type="submit"  class=" btn-group btn btn-danger" (click)="onCancelClick()" (click)="modal.close('Save click')">Cancel</button>
     </div>
     
   </ng-template>
   
   </div>
   
   </div>
   </div>