<div class="container-fluid ">
    <div class="page_box" style="color: aliceblue;">
      <span>      <button mat-raised-button class="btn btn-lg m-1 p-2" style="color: rgb(250, 242, 242);" (click)="back()"><mat-icon>fast_rewind</mat-icon></button>          
      </span>
      Payment Intimation

    </div>
    <div class="page_content shadow p-3 position-relative">
        <div class="page_content-data position-absolute">
            </div>
           
          <div>
            
<div class="top-content">
  <div class="button-container">
 
    

    <!-- Button: Export CSV -->
    <button mat-raised-button 
            (click)="exportData()" 
            class="btn m-1 pe-2 button-responsive" 
            style="background-color: #1e293b; color: white;"
            >
      <mat-icon>file_download</mat-icon> Export CSV
    </button>

    <!-- Button: Select Columns -->
    <button mat-raised-button  (click)="toggleModal()" 
    class="btn m-1 pe-2 button-responsive" 
    style="background-color: #1e293b; color: white;">
      <mat-icon>checklist</mat-icon> Visible Fields 
    </button>
  </div>

  <!-- Search bar -->
  <div class="search-container">
    <mat-icon class="search-icon">search</mat-icon>
    <input type="text" 
     [(ngModel)]="searchTerm"
      (input)="searchData()"
           placeholder="Search..." 
           class="search-bar-with-icon">
  </div>
</div>



 

<div class="modal" [ngClass]="{'show': isModalOpen}" (click)="toggleModal()">
  <div class="modal-content" (click)="$event.stopPropagation()"style="width: 60%; background-color: white; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <div class="settings-container">
      <div class="tab-container">
        <div class="tabs" style="display: flex; justify-content: center; align-items: center; flex-direction: row; width: 100%; padding:10px">
          <h1 style="margin: 0;">Column Selection</h1>
        </div>
        
        <div class="tab-content">
          <div class="list-container" style="display: flex; justify-content: space-between;">
            <div class="list-box" style="width: 45%;">
              <h3 style="font-weight: bold;">Hidden Columns</h3>
              <ul id="hidden-columns" class="list">
                <li *ngFor="let column of hiddenColumns">
                  <input type="checkbox" [(ngModel)]="column.selected"> {{ column.name }}
                </li>
              </ul> 
            </div>
            <div class="buttons-container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 20px; gap: 15px; padding: 15px;">
              <button class="btn" (click)="addColumn()"  style="width: 100px; height: 40px; background-color: #1e293b; color: white; font-weight: bold; padding: 10px; display: flex; align-items: center; justify-content: space-between;">
                Add <span style="font-size: 14px; margin-left: 5px;">▶</span>
              </button>
              <button class="btn" (click)="removeColumn()" style="width: 100px; height: 40px; background-color: #1e293b; color: white; font-weight: bold; padding: 10px; display: flex; align-items: center; justify-content: space-between;">
                <span style="font-size: 14px; margin-right: 5px;">◀</span> Remove
              </button>
            </div>
            <div class="list-box" style="width: 45%; padding-top: 5px;">
              <h3 style="font-weight: bold;">Displayed Columns</h3>
              <ul id="displayed-columns" class="list">
                <li *ngFor="let column of displayedColumns">
                  <input type="checkbox" [(ngModel)]="column.selected"> {{ column.name }}
                </li>
              </ul>
             
              <!-- <div class="reorder-buttons" style="text-align: center; margin-top: 15px;">
                <button (click)="moveColumnUp()" class="arrow-btn">
                  <span class="material-icons">▲</span> 
                </button>
                <button (click)="moveColumnDown()" class="arrow-btn">
                  <span class="material-icons">▼</span> 
                </button>
              </div> -->
            </div>
            
          </div>
        </div>  
      </div>
      <div class="footer" style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 15px; padding:10px">
        <!-- <button class="btn btn-primary" (click)="applyColumnSelection()">OK</button> -->
        <button class="btn" style="background-color: gray; color: white;" (click)="cancelChanges()" >Back</button>
        <!-- <button class="btn btn-warning" (click)="resetChanges()" >Reset</button> -->
      </div>
    </div>
  </div>
</div>
               
              
  
<!--               
              <div style="display: flex; justify-content: end;" >
                <button mat-raised-button class="btn m-1 p-2" style="background-color: #1e293b; color: white;"><mat-icon>add_circle_outline</mat-icon> Create </button>

                <button mat-raised-button class="btn m-1 p-2">Select House <mat-icon>arrow_drop_down</mat-icon></button>
                

              </div> -->

            
            <div class="table-wrapper">

         <table class="table table-bordered " style="margin-top: 50px;">
                <thead>
                  <tr>
                    <th *ngIf="isColumnVisible('Date')" scope="col">Date</th>
                    <th *ngIf="isColumnVisible('Door Number')" scope="col">Door Number</th>
                    <th *ngIf="isColumnVisible('Owner Name')" scope="col">Owner Name</th>
                    <th *ngIf="isColumnVisible('Mode Of Payment')" scope="col">Mode Of Payment</th>
                    <th *ngIf="isColumnVisible('Bank Name')" scope="col">Bank Name</th>
                    <th *ngIf="isColumnVisible('Bank Branch')" scope="col">Bank Branch</th>
                    <th *ngIf="isColumnVisible('Cheque Number')" scope="col">Cheque Number</th>
                    <th *ngIf="isColumnVisible('Cheque Date')" scope="col">Cheque Date</th>
                    <th *ngIf="isColumnVisible('Amount')" scope="col">Amount</th>
                    <th *ngIf="isColumnVisible('Reference')" scope="col">Reference</th>
                    <th *ngIf="isColumnVisible('Description')" scope="col">Description</th>
                    <th *ngIf="isColumnVisible('Document')" scope="col">Document</th>
                    <th *ngIf="isColumnVisible('Status')" scope="col">Status</th>
                    <th *ngIf="isColumnVisible('Log')" scope="col">Log</th>
                    <th *ngIf="isColumnVisible('Check Details')" scope="col">Check Details</th>
                  </tr>
                      </thead>
                         <tbody>
             <tr *ngFor = "let us of readData2 |
             paginate: { 
               itemsPerPage: 8, 
               currentPage:page,
               totalItems:totalLength
             }">
             <td *ngIf="isColumnVisible('Date')">{{ us.date | date:'medium' }}</td>
             <td *ngIf="isColumnVisible('Door Number')">{{ us.blockName }} - {{ us.floorName }} - {{ us.rentalUnitName }}</td>
             <td *ngIf="isColumnVisible('Owner Name')">{{ us.firstName }} {{ us.lastName }}</td>
             <td *ngIf="isColumnVisible('Mode Of Payment')">{{ us.paymentMode }}</td>
             <td >{{ us.chequeBankName }}</td>
             <td *ngIf="isColumnVisible('Bank Branch')">{{ us.chequeBankBranch }}</td>
             <td *ngIf="isColumnVisible('Cheque Number')">{{ us.chequeNo }}</td>
                  <!-- <td>{{us.chequeDate}}</td> -->
                  <td  *ngIf="us.paymentMode === 'cheque' ">{{us.chequeDate | date:'medium' }}</td>
                  <td  *ngIf="us.paymentMode === 'cash'">-</td>
                  <td  *ngIf="us.paymentMode === 'EFT'">-</td>
                  <td *ngIf="isColumnVisible('Amount')">{{ us.amount }}</td>
                <td *ngIf="isColumnVisible('Reference')">{{ us.reference }}</td>
                <td *ngIf="isColumnVisible('Description')">{{ us.description }}</td>
                   <td style="white-space: nowrap;"> <ng-container *ngIf="us.attachment" >
                    <a [href]="us.attachment" style="color: blue;" target="_blank"><mat-icon>file_present</mat-icon>click here</a>
                  </ng-container></td>
                  <td *ngIf="isColumnVisible('Status')"><button mat-stroked-button style="color: white;  border: none; font-size: small; "
                  
                    [style.background-color]="us.paymentStatus === 'PROCESSING' ? 'darkcyan' : 'red'">
      
                    {{us.paymentStatus.toLowerCase() | capitalizeFirstLetter }}
                    <mat-icon style="font-size: x-large ;">{{ us.paymentStatus === 'PROCESSING' ? 'history' : 'cancel'}}</mat-icon>
                  </button></td>
                  <td *ngIf="isColumnVisible('Log')">
                    <ul>
                        <li>Raised on: {{us.date  | date:'medium'}}</li>
                    <li>By:{{us.firstName}} {{us.lastName}}</li>
                    </ul>
                   </td>
                   <td *ngIf="isColumnVisible('Check Details') && us.paymentStatus === 'PROCESSING'" style="color: rgba(0, 0, 255, 0.563);"
                   [routerLink]="[us.RentalTrasactionID]" matTooltip="Check Generated Payment Details">
                   <a>Select Action</a>
                   <mat-icon>arrow_right</mat-icon>
                 </td>
                  
                
                </tr>
                <!-- <tr >
                    <td >11-11-2022</td>
                   <td>Tower A - 222</td>
                   <td>Anil Raju</td>
                   <td>EFT</td>
                   <td>HDFC</td>
                   <td></td>
                   <td ></td>
                   <td>1000.00</td>
                   <td>0.00</td>
                   <td >123456</td>
                   <td ></td>
                   <td >No</td>
                  <td>No</td>
                  <td>No Data</td>
                   <td style="color: rgba(0, 0, 255, 0.563);"><a>Select Action</a><mat-icon>arrow_drop_down</mat-icon></td>
                   <td >
                    <ul>
                        <li>Raised on: 11-11-2022 11:11AM</li>
                    <li>By:        Prasant Pichha</li>
                    </ul>
                    
                   </td>
                 
                 </tr> -->
                         </tbody>
                        </table>
            </div>
                     <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>

              </div>



              
            </div>
            </div>