<div data-aos="slide-up" data-aos-duration="1000">
        <h2>Visitor Management</h2>            
    <p><b>Does the guard stop everybody who enters the society?</b></p>
    <p>Yes.The guard is required to stop and collect details from everyone entering a society’s premises.</p>
    <p><b>What if I do not want my guests to wait at the gate?</b></p>
    <p>You can raise a request through the MyKommunity app prior to their visit. A 6-digit passcode is sent to the visitor, which they can provide to the security and enter the premises without waiting for approval from you.</p>
    <p><b>What if I haven’t raised an invite for my guests?</b></p>
    <p>If you haven’t raised an invite, your guest will have to give their details to the guard who will update them in the app and raise a request for you to approve. On accepting the invite, your guest can enter the premises.</p>
    <p><b>What if I am not home when someone comes?</b></p>
    <p>If you aren’t home, you will still get a notification on your app to approve/ deny the visitor entry. The guards can inform the visitor if their request to enter the premises has been accepted or declined.</p>
     </div>