<div data-aos="slide-up" data-aos-duration="1000">
    <h2>e-Intercom</h2>
               
<p><b>What is the ‘e-Intercom’ feature?</b></p>

<p>It is a mobile-based intercom which is used for automating visitor validations. An e-intercom call gets triggered to the registered mobile or landline number only when a resident does not respond to an app notification to approve or deny a visitor’s (Guest / Delivery Executives / etc.) entry to the society.</p>

<p><b>How to set my e-Intercom number?</b></p>

<p>You can set a mobile or landline number as your e-Intercom number from the app. There can be only one e-Intercom number per flat/home. By default, the primary e-Intercom is set to the mobile number of the first person who downloads the app for the flat. Residents who have not downloaded the app can also have an e-Intercom number. For this, they have to request the admin to set a fixed landline or mobile as the e-Intercom of the flat.</p>

<p><b>How to stop receiving calls from MyKommunity?</b></p>

<p> MyKommunity calls you for visitor validation on your mobile. If you don’t want to receive this phone call you can remove your mobile number from e-Intercom and add the mobile number of someone who can approve on your behalf.
</p>
<p><b>I am travelling abroad. How can I stop calls from MyKommunity?</b></p>

<p>You can remove your mobile number from e-intercom and add the mobile number of someone who can approve on your behalf. You can also leave the e-Intercom numbers blank. To reset the e-intercom number, go to the Side menu, open e-Intercom and edit the numbers.
</p>
<p><b>I am getting a notification for a visitor (e.g. cab, delivery executive) that I did not expect. What should I do? </b></p>

<p> This is likely due to an error in flat selection by the guard at the gate. You can inform the guard about this and ask him to be more attentive when taking entries at the gate.
</p>

<p><b>I am at work and don’t want to be disturbed for visitor approval. My family should be able to do it. What should I do?</b></p>
<ul>You need to:
 <li>Switch off app notifications in the app</li>
 <li> Assign an e-intercom number to receive approval calls. If other members of your family have also downloaded the app, they will receive an in-app notification to authorise the entry. If no response is received from in-app notifications, calls will be initiated in the order of priority, first to the primary number and then to the secondary number.</li>
 </ul>
<p><b>Is it compulsory to set an e-Intercom number?</b></p>

<p> No, you can leave the e-intercom number field blank. However, we recommend that you set at least the primary number so that you don’t miss visitor validation calls from the main gate.
</p>
<p><b>How does the authentication of surprise guests, cabs, courier, delivery executives etc. work?</b></p>

<p> For every visitor at the gate not having a pre-approved OTP, we initiate an authorization process with the residents of a flat. For this, it is important to understand how we recognize numbers/users in our system.
Registered users: Residents must be registered in the system for MyKommunity to communicate with them. Owners and tenants can register themselves by sharing their details via their facility office. They can register their family using the ‘Add family’ feature in the app.
Active users: When registered users download the app, they become active users. Active users can designate one mobile/landline number as an e-intercom number. This number is given priority when system calls are generated for approval.

</p>
    </div>

