<div data-aos="slide-up" data-aos-duration="1000">
    
    <h2>General Enquiries</h2>
<p><b> What is MyKommunity?</b></p>
 
<p> MyKommunity is a smart and technology-forward security solution that helps you manage gated 
 community security needs like entry and exit of visitors, household help, and online delivery personnel. 
 It also helps in managing gated community needs like clubhouse and amenities management, complaint management, 
 accounting and billing, and more.</p>
 
<!-- <p><b> Where can I get the app?</b></p>
 
 <p>The app is available for download from the Apple App Store and Google Play Store. But to be able to fully utilize and experience its benefits, the management committee of your society needs to sign up with us.
 
 The app is available on Android and iOS.<br>
 
 Android: <a href="#">https://play.google.com/store/apps/detailsid=com.MyKommunity.user</a><br>
  iOS: <a href="#">https://itunes.apple.com/in/app/MyKommunity-premium/id1101762651?mt=8</a></p> -->
  
 
  <p><b> What aspects are covered in the demo?</b></p>
 
  <p> All services provided by MyKommunity like onboarding, deployment and post-installation services are covered in the demo, on request.</p>
 
 <p><b> How quickly can I get MyKommunity installed?</b></p>
 
 <p>The app can be onboarded and deployed within 5-7 days of your society management team signing up with the app. We also create all the backend database of the security personnel, create digital profiles and training of guards to ensure that the services are ready to be used.</p>
 
 <p><b> Are there any hidden charges?</b></p>
 
 <p>There are no hidden charges. Only the management committee of your gated community needs to subscribe for MyKommunity’s services; the app is absolutely free to use for the residents.</p>
 
 <p><b>   How many days will it take to do the onboarding?</b></p>
 
 <p>The entire process, including the training process and database creation, takes a week to complete.</p>
 
 <p><b>  How long does it take for the residents to adopt the technology? How easy is it for senior citizens to use it?</b></p>
 
 <p>The app is very simple to use, and with some assistance, even senior citizens can use the app with ease. If someone finds the navigation difficult, we have an IVR feature that helps in usage of the app.
 
 The user and guard app interface is designed intuitively, keeping in mind the ease-of-use and maximum convenience. Moreover, our team conducts regular product walkthrough sessions for the residents, committee members, and guard training programs with assessment exercise before the system goes LIVE.
 
 The app is built for ages 9 to 90, keeping in mind a significant section of senior residents living in gated communities. Whether it’s allowing or denying access to visitors or raising a security alert via the app – the flow is designed to achieve the objective in less than a few clicks. Here’s what an 80-yr old customer from Chennai has to say.
 </p>
 <p><b> Where can I download MyKommunity app from?</b></p>
 
<p> The app is available on Android and iOS.<br>
 
 Android:<a href="https://play.google.com/store/apps/details?id=com.mohrisa.mykommunity&hl=en-IN">Click Here</a><br>
 iOS: <a href="https://apps.apple.com/in/app/my-kommunity/id1572431710">Click Here</a><br>
 <br>
 <!-- https://itunes.apple.com/in/app/MyKommunity-premium/id1101762651?mt=8 -->
 There is no limit on the number of residents who can download the app as long as all are authorized residents of the society. If the application exits immediately on launch, please try to upgrade app version or OS version to match them.
 </p>
 <p><b> How can I add a tenant to my flat?</b></p>
 
 <p>  You can add a tenant via – Settings>My Flat>Change the status to Let out>add the details of the tenant.</p>
 
 <p><b>  What type of support is offered by MyKommunity?</b></p>
 
 <ul>MyKommunity's 4-pillar service delivery structure includes;
 <li> Dedicated Relationship Managers responsible for onboarding coordination, product training and real-time resolution handling.</li>
 <li> On-field officers for individual pin codes manage stakeholder and guard training sessions and are available 24X7 on-call or WhatsApp.</li>
 <li>PAN India client service team offers real-time central support with a 4-hr turnaround time for resident query and 2-hr for an onsite visit.</li>
 <li> We use our proprietary tool for service management and a best-in-class CRM for customer lifecycle management.</li>
 </ul>
 
 <p><b> Is the MyKommunity app safe?</b></p>
 
 <p> We diligently follow all best practices to ensure your MyKommunity experience is completely secure. To know more about how you can manage the information you share with us and how it is used, <a style="text-decoration: underline; color: blue;" (click)="privacy_policy()">click here.</a>
 </p>
 <p><b>  Will our personal data be secure on MyKommunity?</b></p>
 
 <p>We use reasonable safeguards to preserve the integrity and security of your information against loss, theft, unauthorised access, disclosure, reproduction, use or amendment. For more details, read our <a style="text-decoration: underline; color: blue;" (click)="privacy_policy()">Privacy Policy.</a></p>
</div>