<div>
    <app-root></app-root>
</div>
<div class="container-fluid">
    <div class="img" data-aos="fade-right" data-aos-duration="3000">
        <img src="../../../assets/mkabt.jpg" >  
    </div>
    <div class="background" ></div>

  <div>
        <h1 class="text-center justify-content mt-5"  style="color: rgb(64, 43, 110);" data-aos="fade-down" data-aos-duration="3000" ><b>ABOUT MYKOMMUNITY</b></h1>

<div class="card">
    <div class="box" data-aos="flip-left" data-aos-duration="3000">
<h2><b>Gated Management Application</b></h2>
<ul>
<li>	Apps developed to deliver a smart , secure and peaceful living in your community.</li>
<li>	Its manages your Delivery Management</li>
    <li>	Maintain Visitor Management System .</li>
        <li>	It manages Accounts and payments.</li>
            <li>	Daily Help Management.</li>
                <li>	Staff Managements.</li>
                    <li>Security Guard Management.</li>
                        <li>	Club House Management and Mobile Intercom.</li>


</ul>
</div>
<div class="box" data-aos="flip-right" data-aos-duration="3000">
<h2><b>Delivery Management System</b></h2>
<ul>
<li>	We Notify the owner about the goods to be delivery by delivery boy and help to drop at community office on your absence by your pre authorization.</li>
<li>	Maintain log of entries of all deliveries in-out of each owner of community.</li>
<li>	Help to get improve safe and secure delivery along with details of delivery boy for any emergencies or SOS.</li>
<li>	Track items being carried out of the
    gate by vendors, service staff and visitors</li>

</ul>
</div>
<div class="box" data-aos="flip-right" data-aos-duration="3000">

<h2><b>Visitor Management System A Digital reception </b></h2>

<ul>
    
<li>	We make your visitor a pleasure and secure entry.</li>
<li>	Digitally verified visitors.</li>
<li>	Restricting visitor's to provide false information to gain entry to society.</li>
<li>	On emergency help from Guards and neighbour's are available on mobile.</li>
<li>	Pre-authorisation of visitor for expected visitor.</li>
<li>	Digital record of each entry in society.</li>
<li>	Prevents trespassing and no gate congestion to your community.</li>
<li>	Tracking of society Move-in and Move-out movement.</li>
     
</ul>
</div>
<div class="box" data-aos="flip-right" data-aos-duration="3000">

<h2><b>Daily Help and Staff Management </b></h2>

<ul>
    <li>	Validate & Record Entry / Exit Domestic Staff (House helps, Drivers, Cooks etc.) into the Community</li>
    <li>	Residents get alerts on Mobile about entry/exit of their respective staff</li>
    <li>	Security automatically knows if a particular staff is no longer working for any flat/unit - keeping your society safe</li>
    <li>	Track Attendance of Maintenance Staff (Service Manager, Plumber, Electrician and other Technical Staff)</li>
    <li>	Committee can get Attendance Reports from Admin interface to process payroll.</li>

</ul>
</div>
<div class="box" data-aos="flip-right" data-aos-duration="3000">

   <h2><b>Accounts and Payment Management</b></h2>

   <ul>

    <li>	All Payment Receivables and Payable through payment gateway.</li>
    <li>	All Maintenance and other receivable will be received to society account.</li>
    <li>	Separate Income receivables accounts towards society maintenance and Club House.</li>
    <li>	Auto generated receipt for online payments .</li>
    <li>	Monthly / Quarterly and Year end Statement can be generated .</li>
    <li>	Move-in and Move-out of society tracking help to check dues and movement can be with hold help increase in collection and manual process of providing NOC’s are avoided</li>

   </ul>
</div>
<div class="box" data-aos="flip-right" data-aos-duration="3000">

   <h2><b>Complaint and Grievance Management</b></h2>

   <ul>

    <li>	Raise maintenance requests</li>
    <li>	Pre authorised or in-house maintenance provider will be notified automatically</li>
    <li>	Tracking till closure.</li>
    <li>Raise query to committee for any grievance.</li>
 
   </ul>
</div>
<div class="box" data-aos="flip-right" data-aos-duration="3000">

   <h2><b>Mobile Intercom, Group & Forum</b></h2>

   <ul>

    <li>	Using Directory you can easily search for Neighbour and make E intercom calls</li>
    <li>	E-Intercom calls to Security/Committee</li>
    <li>	Community chat and Group forum for classified and information sharing</li>
    <ul>
    <li>	Discussion forums - A space for organized discussions on matters related to the society</li>
    <li>	Groups - A feature that allows like minded members of the society to come together and share their thoughts</li>
    <li>	Event Memory - Preserve photos/videos of society events etc.</li>
</ul>

   </ul>
</div>
<div class="box" data-aos="flip-right" data-aos-duration="3000">
   <h2><b>Club House Management</b></h2>
   <ol>
   <li> RESIDENTS</li>
    <ul>
        <li>Book and pay for facilities on occasions like Party and Puja</li>
    <li>	Participate in Hobby classes</li>
    <li>	Book for other recreational activities</li>
    </ul>
    <li> ADMIN</li>
    <ul>
    <li>	Revenues, Ensure best Utilization of Facilities of Club House</li>
    <li>	Fool-proof access management</li>
    <li>	Online Booking Management </li>
    <li>	Separate Revenue and account management for Club House</li>
    </ul>
   </ol>
</div>


    </div>
</div>


</div>
<div id="footer">
    <app-footer></app-footer>
</div>


