

<div class="container-fluid ">
  <div class="page_box" style="color: aliceblue;">
    <span mat-raised-button class="btn btn-lg mt-1 p-2" style="color: white;" (click)="back()"><mat-icon>fast_rewind</mat-icon> </span>        

   Create Amenity Booking</div>
  <div class="page_content shadow p-3 position-relative">
      <div class="page_content-data position-absolute">
</div>
<form  [formGroup]="form" >
              
  
  <mat-form-field appearance="fill" class="full-width" >
    
      <mat-label>Amenity</mat-label>
  
  <mat-select  required formControlName="amenityId" >
    <mat-option [value]="0" disabled>--Select Amenity--</mat-option>
    <mat-option  *ngFor="let am of readData2" value={{am.id}}>{{am.name}}</mat-option>

  </mat-select>              
  </mat-form-field>
  
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Start Time</mat-label>
    <input
      matInput
      [matDatepickerFilter]="myDateFilter"
      [matDatepicker]="startPicker"
      placeholder="Enter Booking Start Time"
      formControlName="startTime"
      (dateChange)="onStartTimeChange($event)"
    />
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
    <mat-error *ngIf="form.get('startTime')?.hasError('required')">
      Start Time Required
    </mat-error>
  </mat-form-field>
  
  <!-- Show loading spinner or message while data is being loaded -->
  <div *ngIf="datesData.length === 0 && noslots" class="booking-info mt-2">
    <mat-icon>info</mat-icon>
    <p>No Slots Available For Selected Date</p>
  </div>
<!-- Show checkboxes after data is loaded -->
<div *ngIf="dataLoaded && amenityType === 'HOURLY'">
  <div class="checkbox-grid" *ngIf="formattedTimes.length > 0">
    <div *ngFor="let timeRange of formattedTimes; let i = index;" class="checkbox-item">
      <mat-checkbox
      [disabled]=" isPastTime(timeRange)"
        (change)="onCheckboxChange(i)"
      >
        {{ timeRange }}
      </mat-checkbox>
    </div>
  </div>
  <div *ngIf="selectedStartTime && selectedEndTime" class="booking-info mt-2">
    <mat-icon>info</mat-icon>
    <p>
      Booking selected From {{ selectedStartTime}}
      to {{ selectedEndTime }}
    </p>
  </div>
</div>



  
  
  <mat-form-field appearance="fill" class="full-width" *ngIf="amenityType == 'DAILY'">
    <mat-label>End Time</mat-label>
    <input matInput [matDatepickerFilter]="myDateFilter" [matDatepicker]="endPicker" placeholder="Enter Booking End Time" formControlName="endTime">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
    <mat-error *ngIf="form.get('endTime')?.hasError('required')">End Time Required</mat-error>
  </mat-form-field>
  
<form>
<mat-form-field class="example-full-width" formControlName="rentalUnitId">
<mat-label>Select Flat</mat-label>
<input type="text"
       placeholder="Pick one"
       aria-label="Number"
       matInput
       [formControl]="myControl"
       [matAutocomplete]="auto"
       [(ngModel)]="searchFlat">
<mat-autocomplete #auto="matAutocomplete" >
  <mat-option *ngFor="let option of flatData | flatfilter: searchFlat" [value]="option.name">
    {{ option.name }}
  </mat-option>
</mat-autocomplete>
</mat-form-field>
</form>

</form>
<button  [disabled]="loading" (click)="saveDetails(form)"  class=" btn-group btn " style="background-color: #1e293b; color: white;" >Create Booking</button>
          <!-- <button type="submit" class="btn btn-danger"  (click)="modal.close('Save click')">Cancel</button> -->
        
</div>
</div>