<div data-aos="slide-up" data-aos-duration="1000">
    <h2>Helpdesk</h2>
               
<p><b>What is the ‘Helpdesk’ feature?</b></p>

<p>It is a complaint management system to ensure a quick and convenient way to track complaints via the MyKommunity app. When you face a society related issue (for eg. Electrical, plumbing), you can raise a complaint through the Mykommunity app. The complaint will be forwarded to the Society Management or Facility Manager. Further, he/she will update the complaint and assign it to the respective society staff. You will be notified about the assigned staff, the ETA and the action taken against your complaint. You can also add comments, attach photos/documents and reopen a closed complaint.</p>

<p><b>How do I raise a service request?</b></p>
<ul >You need to:
 <li>Click on ‘Community’ tab on the app home screen</li>
 <li>Click on ‘Helpdesk’</li>
 <li>Click on ‘Raise Complaint’ at the bottom of the app screen</li>
 <li>Select the category and type of issue. Select ‘Personal’ if the issue pertains to your house and ‘Community’ if the issue pertains to the common areas of your society.</li>
 <li>Provide details of the issue</li>
 <li>Attach supporting photos</li>
 </ul>
<p><b>What is the escalation matrix for Helpdesk complaints raised?</b></p>
<p> Once residents raise a complaint/service request using Helpdesk on the MyKommunity app, the service request will be sent to the Helpdesk Manager. The resident will also receive an SMS/email notification with the service request ID and subject.
If the Helpdesk Manager does not take action within the stipulated time, the service request will escalate to the Facility Manager.
If no action is taken, the service request will escalate to the Admin who will be the last point of contact.
When the admin/Facility Manager, updates the status or adds any comment to the complaint, the resident will again receive the email with the service request ID in the subject line.
Residents can go to  the ‘Helpdesk’ menu under the ‘Community’ tab and click on the specific service request/complaint to view the changes made by the admin/Facility Manager.
The app will be updated with the progress/action taken by the Admin/Facility Manager against the complaint.
</p>
<p><b>Can a closed complaint be reopened?</b></p>
<ul>Yes, residents can reopen a closed complaint at any time:
 <li>Go to the ‘Helpdesk’ menu under the ‘Community’ tab</li>
 <li>Click on the specific complaint which is ‘Resolved’</li>
<li>Click on ‘Reopen’, enter your comments and ‘Re-open’ the resolved/closed complaint</li>
 </ul>
<p><b>How to filter complaints according to their category or status?</b></p>

<ul>To filter according to category:
 <li>Go to the ‘Helpdesk’ menu under the ‘Community’ tab</li>
 <li>Click on ‘Category’ at the top of the app screen</li>
<li>Select a specific category from the dropdown menu</li>
 </ul>

<ul>To filter according to status:
 <li>Go to the ‘Helpdesk’ menu under the ‘Community’ tab</li>
 <li>Click on ‘Status’ at the top of the app screen</li>
<li>Select a status (New, In Progress, Closed) from the dropdown menu</li>
 </ul>
 </div>

