<div>
    <app-root></app-root>
</div>
 
<div class="container-fluid">
    <h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);" data-aos="fade-down" data-aos-duration="3000" ><b></b></h1>

    <!-- <div>
        <video autoplay muted loop playsinline preload="auto" onloadedmetadata="this.muted = true" class="back-video">
           <source src="../../../../assets/privacy.mp4" type="video/mp4">
        </video>
       </div> -->
       <div class="img" data-aos="fade-right" data-aos-duration="3000">
        <img src="../../../../assets/apart.jpg" >  
    </div>
    <h1 class="text-center justify-content mt-2"  style="color: rgb(64, 43, 110); font-size: 40px;" data-aos="fade-down" data-aos-duration="3000" ><b>PRIVACY POLICY</b></h1>

    <div class="background" ></div>

  <div>

<div class="m-2 p-2">
    <h1>When you use MyKommunity services, either via website or the App, you are trusting us with some of your information
    </h1>
    <h3>
        We understand this is a big responsibility on our shoulders and we are always working hard to keep your information safe and secure, and give you control over your data.. This Privacy Policy section is meant to help you understand what information Mohrisa Technologies Pvt Ltd collects through mykommunity website or App, why we collect such information and how you have full control to update, manage or delete your information.
    </h3>
    <ul >
        <li>
            Introduction
        </li>
        <li>
            Information Mohrisa Technologies Pvt Ltd Collects

        </li>
        <li>
            How the Information is collected

        </li>
        <li>
            Why information is collected

        </li>
        <li>
            User Privacy controls

        </li>
        <li>
            Sharing Your Information and Disclosures

        </li>
        <li>
            Your Information Security

        </li>
        <li>
            Your Information Retention and Deletion

        </li>
        <li>
            Role and details of Data Protection Officer

        </li>
       
    </ul>
    <p class="heading p-3"  style="color: rgb(64, 43, 110); " data-aos="fade-down" data-aos-duration="1000" ><b>          
          Introduction
    </b></p>
    <h3>
        Mohrisa Technologies Pvt Ltd is a comprehensive security and community management platform helping millions of users to make their life safe, secure and convenient. Our various services include:


    </h3>
    <h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);" data-aos="fade-down" data-aos-duration="1000" ><b>Accounts & Payments Management:
    </b></h1>
<h3>
    Mohrisa Technologies Pvt Ltd features an end-to-end accounting module to simplify management of finances for Resident Welfare Associations. Residents can also pay their maintenance bills via the app.

</h3>
<h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
 data-aos="fade-down" data-aos-duration="1000" ><b>Visitor Management:
</b></h1>
<h3>
    Mohrisa Technologies Pvt Ltd’s technology enhances security by ensuring that only approved visitors are given entry to the premises.
</h3>

<h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
 data-aos="fade-down" data-aos-duration="1000" ><b>Delivery Management:

</b></h1>
<h3>
    With Mohrisa Technologies Pvt Ltd, users can have their deliveries left at the gate, in case they are not available at home – and pick them up at their convenience. Mohrisa Technologies Pvt Ltd has also partnered with eCommerce portals to make the entry of delivery personnel faster and more secure.
</h3>

<h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
 data-aos="fade-down" data-aos-duration="1000" ><b>Security Alert:

</b></h1>

<h3>
    In case of an emergency, residents can alert their security personnel at the click of a button on the app.


</h3>

<h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
 data-aos="fade-down" data-aos-duration="1000" ><b>Child Security:

</b></h1>
<h3>
    
    Resident parents can require their security guards to check whether their children have their permission to exit the premises (This feature doesn’t require any details of children to be collected).


</h3>
<h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
 data-aos="fade-down" data-aos-duration="1000" ><b>Daily Help Management:

</b></h1>

<h3>
    All residents receive notifications on the entry of their daily help (maids, cooks, nannies), and can also check their monthly attendance. Residents can also pay their daily help’s salary via the app or record a cash payment.


</h3>
<h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
 data-aos="fade-down" data-aos-duration="1000" ><b>Clubhouse Management & Amenities’ Booking:


</b></h1>
<h3>
    The Management Committee can use this feature to ensure that the clubhouse area is restricted to residents and their guests, understand usage trends, and even implement a booking feature for certain facilities.


</h3>
<h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
 data-aos="fade-down" data-aos-duration="1000" ><b>Helpdesk and Communication:


</b></h1>
<h3>
    Residents can also have their complaints resolved by raising an issue to the concerned person via their app.

</h3>
<h3>Mohrisa Technologies Pvt Ltd seamlessly connects the community – the residents, RWA, facility management, security personnel, daily help and visitors – through the app, with a view to improving the security and convenience of the premises.

</h3>
<h3>
    Apart from using our services, all users can use our Web and App in a variety of ways to manage their data privacy.


</h3>

<p class="heading p-3"  style="color: rgb(64, 43, 110); " data-aos="fade-down" data-aos-duration="1000" ><b>          
    Information Mohrisa Technologies Pvt Ltd Collects
</b></p>
<h3>
    We would like you to understand that the information collected via the Mohrisa Technologies Pvt Ltd app or website is to help us provide you with superlative service.

</h3>
<h3>
    The information Mohrisa Technologies Pvt Ltd collects, and how that information is used, depends on how you use our services and how you manage your privacy controls. For e.g. for standard Mohrisa Technologies Pvt Ltd services, only your flat details along with name and number will be needed. However, if your society chooses to use advanced features like Accounts and payments, additional information may be needed to render services. All the personally identifiable information is treated as sensitive information by us and you will have full control over this data.


</h3>
<h3>
    Information collected on the Mohrisa Technologies Pvt Ltd app and website:


</h3>
<h3>
    While using Our Application, in order to provide features of Our Application, We may collect, with Your prior permission:


</h3>
<ol>
    <li>
        Information from your Device's phone book (contacts list)

    </li>
    <li>
        Pictures and other information from your Device's camera and photo library

    </li>
    <li>
        Microphone access for In App Voice Call

    </li>
   
</ol>
<h3>We use this information to provide features of Our Service, to improve and customize Our Service. The information may be uploaded to the Company's servers and/or a Service Provider's server or it may be simply stored on Your device.You can enable or disable access to this information at any time, through Your Device settings.

</h3>

<h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
 data-aos="fade-down" data-aos-duration="1000" ><b>Residents:
</b></h1>

<h3>
    Name, Email address, Mobile number, your apartment/villa number, vehicle number (if any) and any other data you may have chosen to provide on Mohrisa Technologies Pvt Ltd
</h3>
<h3>

To ease the use of mykommunity app Mohrisa helps users to select guest details like name and number from contact,Mohrisa uses contact inorder to make operation efficeient for users , id does not uses contact for any other purposes


</h3>

<h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
 data-aos="fade-down" data-aos-duration="1000" ><b>Guests:


</b></h1>
<h3>
    Name and resident flat to be visited. No other guest information is required on Mohrisa Technologies Pvt Ltd App for entry at gate (Note: Individual RWAs may mandate additional information such as phone number which is totally at discretion of respective RWAs.)


</h3>
<h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
 data-aos="fade-down" data-aos-duration="1000" ><b>Service Providers to Society/Individual Homes:


</b></h1>
<h3>
    The name, phone number, resident flat to be visited (if any), vehicle number (if any), entry/exit time, visit purpose and photograph. For security reasons, some personally identifiable information of service providers including delivery executives is taken at the gate as per appropriate local laws. Mohrisa Technologies Pvt Ltd processes the information as per service requirements.


</h3>
<h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
 data-aos="fade-down" data-aos-duration="1000" ><b>Additional information:



</b></h1>
<h3>
    IP address, Webpages visited (Pages of Mohrisa Technologies Pvt Ltd.com visited by the user; a standard practise to optimize user experience and curate content of a website), browser, device and operating system information, mobile network information, the date, time, and referrer URL of your request (the website from which the user was redirected to Mohrisa Technologies Pvt Ltd.com; a standard practise to track and compensate the originator of traffic to Mohrisa Technologies Pvt Ltd website, such as when a visitor clicks on a Google ad for Mohrisa Technologies Pvt Ltd.)


</h3>
<h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
 data-aos="fade-down" data-aos-duration="1000" ><b>Information Collected from Other Sources / Third Parties:



</b></h1>
<h3>In addition to the above, in light of the COVID Pandemic, Resident, Guest and/or Service Providers to the Society / Individual homes shall have the option to use the Aarogya Setu Mobile App (Aarogya Setu App) to initiate the permission to gain entry into the respective flat / society. If a Resident, Guest and/or Service Providers to the Society / Individual homes use the Aarogya Setu App to gain entry, Mohrisa Technologies Pvt Ltd shall receive the following information from the Aarogya Setu App upon scanning of the QR Code:

</h3>
<h4>
    Name

</h4>
<h4>Mobile Number
</h4>
<h4>Risk Category
</h4>


<h3>
    Individual RWAs may mandate the use of the Aarogya Setu App for gaining entry into the RWA which is totally and solely at the discretion of respective RWAs.


</h3>
<h3>
    We collect standard website access information (type of browser etc) using cookies and other similar technologies on all our websites(Mohrisa Technologies Pvt Ltd.com , mohrisa.com).We do this to measure, improve and personalize our services for you and we do not share this information with any third party organizations for commercial purposes.



</h3>
<h3>We don’t sell or trade user information in any form to anyone. The information is used solely for the purpose of enabling services and making your experience better on Mohrisa Technologies Pvt Ltd platforms. On a case to case basis we give you great value add from third party partners where information will be shared after your explicit consent.

</h3>
<h3>Should you wish to know more about our policy on guest visitors’ data, click here

</h3>
<h3>Mohrisa Technologies Pvt Ltd’s services are an extension of the services offered by the Resident Welfare Association (RWA) (being our direct customer) of the premises. The RWA members will have access to all the information collected for their society on Mohrisa Technologies Pvt Ltd for recording and security purposes. In case any of the RWA members access any of resident data, Mohrisa Technologies Pvt Ltd will transparently convey the same to the user along with the reason for access of the information.

</h3>
<p class="heading p-3"  style="color: rgb(64, 43, 110); " data-aos="fade-down" data-aos-duration="1000" ><b>          
    How The Information is Collected
</b></p>
<h3>
    Mohrisa Technologies Pvt Ltd provides its services through our website and mobile app (will be collectively referred to as “Platforms”). User information is collected via our platforms either directly or indirectly to give great product and service experience.


</h3>
<h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
 data-aos="fade-down" data-aos-duration="1000" ><b>
    Direct Information:
</b></h1>
<h3>All personally identifiable information as mentioned in “Information Mohrisa Technologies Pvt Ltd Collects” segment is explicitly collected on the platform where users fill in their details and give necessary consent to be contacted or their information to be used by Mohrisa Technologies Pvt Ltd for serving them better via the platforms.

</h3>
<h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
 data-aos="fade-down" data-aos-duration="1000" ><b>
    Indirect Information:
</b></h1>
<h3>Information like Ip address, device data, browsing data and other information as detailed in “Information Mohrisa Technologies Pvt Ltd Collects” is collected while the user is interacting with our platform. The same is collected to make user experience on our platforms better

</h3>
<p class="heading p-3"  style="color: rgb(64, 43, 110); " data-aos="fade-down" data-aos-duration="1000" ><b>          
    Why The Information is Collected
</b></p>
<h3>
    We use information collected from users to provide our services. The data is collected on Mohrisa Technologies Pvt Ltd website as per discretion and inputs given by users. On the mobile app information is collected as per our agreement with RWA of societies who act as an extended service provider to all residents within the society.


</h3>
<h3>Following are the key services which will require information collected

</h3>
<h3>Account set up and administration

</h3>
<h3>Personalization of content, business information or user information

</h3>
<h3>Periodically communicate with you (like new feature/benefits introduction, feature usage guidance etc)

</h3>
<h3>Data recording and analysis on platforms usage to improve future services (All analysis are done only at aggregate level and Mohrisa Technologies Pvt Ltd never accesses or analyse data at user level)

</h3>
<h3>Legal obligations and meeting internal audit requirements (Non-guest visitor information)

</h3>
<h3>Protect Our Users, Mohrisa Technologies Pvt Ltd: Information is used to improve safety and reliability of services across platforms. This include detecting, preventing and responding to security risks, fraud or any technical issues which can harm our users or Mohrisa Technologies Pvt Ltd

</h3>
<p class="heading p-3"  style="color: rgb(64, 43, 110); " data-aos="fade-down" data-aos-duration="1000" ><b>          
    User Privacy Controls
</b></p>
<h3>
    Mohrisa Technologies Pvt Ltd ensures that you are in full control of the information we collect and how it is used.

</h3>
<h3>
    This section describes key controls for managing your privacy across our platforms and services. In addition to this we also provide few other mechanisms by which users can reach out to us to modify or erase their information available with us.

</h3>

<h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
 data-aos="fade-down" data-aos-duration="1000" ><b>
    Managing, reviewing, and updating your information:
</b></h1>
<h3>
    When you’re signed in, you can always review and update information by visiting the services you use. For example, you can change your contact details such as your name, email and phone number.


</h3>
<h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
 data-aos="fade-down" data-aos-duration="1000" ><b>
    Choice to Opt-out:
</b></h1>
<h3>
    We provide all users with options to opt-out from receiving non-essential (promotional, marketing related etc.) communications from us. This can be done directly on our platforms or providing us with necessary information at admin&#64;mohrisa.com

</h3>
<h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
 data-aos="fade-down" data-aos-duration="1000" ><b>
    Unsubscribing, removing and deleting your information:
</b></h1>
<h3>
    If you choose to unsubscribe from our platforms or delete any of all of your information, you can delete your apartment and then uninstall the app. In addition to this you may also send an email toadmin&#64;mohrisa.com for specific information about your account or deletion of your account history. However, we may still retain some information and records of transaction for specific period as required by any law, contract with RWA or policy as applicable.

</h3>
<h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
 data-aos="fade-down" data-aos-duration="1000" ><b>
    Contacting Data Protection Officer:
</b></h1>
<h3>
    In subsequent sections covering “Role and details of Data Protection Officer(DPO)”, we have full disclosure of how users can reach out to Mohrisa Technologies Pvt Ltd DPO to lodge complaints or communicate any privacy related grievances.
</h3>

<p class="heading p-3"  style="color: rgb(64, 43, 110); " data-aos="fade-down" data-aos-duration="1000" ><b>          
    Sharing Your Information and Disclosures
</b></p>
<h3>We do not share your personal information with companies, organizations, or individuals outside of Mohrisa Technologies Pvt Ltd or anyone within Mohrisa Technologies Pvt Ltd.

</h3>
<h3>There may be few exceptions:

</h3>
<h3>When user reaches out to Mohrisa Technologies Pvt Ltd customer care for specific query/issues and customer care personnel has to access your information for resolution of your query

</h3>
<h3>Explicit user consent will be taken by Mohrisa Technologies Pvt Ltd in case we partner with companies, organizations, or individuals outside of Mohrisa Technologies Pvt Ltd to provide services or offerings to users. The use of such services may require you to share your name, email, phone number, flat details or other information with these partners. In such cases, Mohrisa Technologies Pvt Ltd will only share your information and offer you the service with your explicit opt-in

</h3>
<h3>
    For Legal Reasons: We may need to share or disclose some of your information outside Mohrisa Technologies Pvt Ltd if we have a good-faith belief that access, use, preservation or disclosure of the information is reasonable necessary in the following events:


</h3>
<h3>
    Meet any law, regulation or legal process as applicable or enforceable request from government.


</h3>
<h3>
    To enforce applicable terms of service, including investigation of potential violations, fraud, security or technical issues/breaches.


</h3>
<h3>Information as necessary with your respective societies’ RWA as per terms of agreement.

</h3>
<h3>Protect against harm to the rights, property or safety of our users, Mohrisa Technologies Pvt Ltd, or the public as required or permitted by Law.

</h3>
<h3>Consent: In some cases, we may process some of your information based on the consent you expressly grant to us at the time we collected such data. In case we need to process any of your information we will be clearly indicating to you at the point and time of collection.

</h3>
<h3>We have enabled societies to collect explicit consent from service providers while capturing their data. During the onboard process of any service provider, they will be getting an SMS with a phone number on which they can give a missed call to give consent for their data capture.

</h3>
<h3>You have right to withdraw your consent at any given point of time either via platform or writing to us at admin&#64;mohrisa.com.

</h3>
<h3>You have right to withdraw your consent at any given point of time either via platform or writing to us at admin&#64;mohrisa.com.

</h3>
<h3>Your information will be shared with another business entity should we(or part of our business/assets) plan to merge with, or be acquired by another business entity or in cases of organization restructuring or amalgamation. In case of such a transaction or re-organization the new business entity will follow this Privacy Policy. All the affected users will be notified before personal information is transferred or becomes subject to different entities’ privacy policy.

</h3>
<p class="heading p-3"  style="color: rgb(64, 43, 110); " data-aos="fade-down" data-aos-duration="1000" ><b>          
    Your Information Security
</b></p>
<h3>We build security into each and every system and services to protect your information.</h3>
<h3>All Mohrisa Technologies Pvt Ltd platforms and processes are built with strong security features that continuously protect your information. We have multiple real time checks and tests running to help us detect and automatically block security threats from ever reaching you. In case of any detection of threat or risk that we deem you should be aware of; we will notify you and guide you through steps to keep your privacy protected.

</h3>
<h3>We are constantly striving to protect your data from unauthorized access, disclosure, modifications, or destruction of any information we hold, including:

</h3>
<h3>All information going in and out of the app is 256 bit https encrypted. TLS encryption is used throughout the application for data in motion and data is also encrypted at rest.

</h3>
<h3>All information is stored in servers with best in class firewalls and needs multiple authentications for any access and no unauthorized person will have access to the same.

</h3>
<h3>We constantly review our information collection, storage and processing practices, including physical security measures, to prevent unauthorized access to our systems.

</h3>
<h3>We restrict access to personal information to employees, and external contractors who may need the information in order to process some services. Any internal employee with this access is subject to strict contractual confidentiality obligations and strict actions (up to termination or criminal action) will be taken if they fail to meet these obligations.

</h3>
<h3>The Mohrisa Technologies Pvt Ltd app is audited on a regular basis. Mohrisa Technologies Pvt Ltd application and data servers do not use public accessible addresses or IP. The access is further secured through a VPN tunnel with 2FA (two factor authentication). All traffic is routed through a WAF (Web Application Firewall) and is checked strictly for malicious traffic.

</h3>
<h3>However, we would like you to understand and accept that data transmission over the internet may be liable to risk and we would assume no liability for any disclosure of information due to errors in transmission issues or unauthorized third-party access to our platforms or databases.

</h3>
<p class="heading p-3"  style="color: rgb(64, 43, 110); " data-aos="fade-down" data-aos-duration="1000" ><b>          
    Your Information Retention and Deletion
</b></p>
<h3>The information collected on our platforms is retained for different periods of time depending on what the information is and how it is used and how you configure your settings.

</h3>
<h3>Users can request to export a copy of their information or delete it from your Mohrisa Technologies Pvt Ltd account at any given point of time (some information deletion may be subject to RWA approval, Mohrisa Technologies Pvt Ltd will facilitate the approval process):

</h3>
<h3>Users can request to export a copy of their information or delete it from your Mohrisa Technologies Pvt Ltd account at any given point of time (some information deletion may be subject to RWA approval, Mohrisa Technologies Pvt Ltd will facilitate the approval process):

</h3>
<h3>Residents may request at any time that their data on Mohrisa Technologies Pvt Ltd systems be erased. This is referred to as the Right to be Forgotten and can be triggered from the Mohrisa Technologies Pvt Ltd app or by writing to admin&#64;mohrisa.com.

</h3>
<h3>Guest visitors can get their details deleted at any given point of time. Details for same is covered in “Role and details of Data Protection Officer”. We keep some data until your society is live on Mohrisa Technologies Pvt Ltd and all such information is deleted if your society is no longer live on our platform.

</h3>
<h3>In case you have left a society on Mohrisa Technologies Pvt Ltd, you can delete all your details on our App and uninstall our app. In case of more assistance you can write to admin&#64;mohrisa.com.

    </h3>
    <h3>However, some data we may retain for longer period of time when necessary for legal purposes, such as security, fraud or financial record keeping. When you delete data or request for deletion of data, we follow a process to make sure that all your data is safely and completely removed from all our servers. We also ensure that none of your information is subject to accidental or malicious deletion. This may lead to some delay between actual requests made and final deletion as we ensure that information deletion is genuine and not accidental from our active and backup systems. Any request to DPO will be replied within 7 days and actioned within 30 days subject to approvals from the RWA and not including the time taken by them in approvals.

    </h3>

    <p class="heading p-3"  style="color: rgb(64, 43, 110); " data-aos="fade-down" data-aos-duration="1000" ><b>          
        Role and details of Data Protection Officer (DPO)
    </b></p>
    <h3>
        Mohrisa Technologies Pvt Ltd has employed a dedicated data protection and grievance officer who will be responsible for overseeing the company’s data protection strategy and its implementation to ensure compliance with various Privacy law requirements.

    
    </h3>
    <h3>
        Our DPO is responsible for the following:

    
    </h3>
    <h3>
        Constantly educating the company and employees on important Data Privacy compliances

    
    </h3>
    <h3>
        Constantly educating the company and employees on important Data Privacy compliances

    
    </h3>
    <h3>
        Conduct regular audits to ensure compliance and address any gap or issues proactively


    
    </h3>
    <h3>
        Monitoring implementation and effectiveness of data protection efforts within company

    
        </h3>
        <h3>
            Maintaining comprehensive records of all data processing activities, including purposes and necessity of all processing activities, which must be produced on request.

    
        </h3>
        <h3>
            Interfacing with data subjects to address how their information is being used, their right to have their personal data amended or erased and what measures Mohrisa Technologies Pvt Ltd has put in place to protect your personal information.

    
        
        </h3>
        <h3>
            If you have queries regarding your data and privacy, please refer to the FAQs listed here

    
        
        </h3>
        <h3>
            In case of any issue or grievance related to your data privacy, please contact our DPO at admin&#64;mohrisa.com or write to Data Protection Office, Mohrisa Technologies Pvt Ltd (Mohrisa Technologies Pvt Ltd),

    
    
        
        </h3>
        <h3>
            27, Gatikrushna Green , Rangabazar , Alarpur ,
    
        
            </h3>
            <h3>
                Bhubaneswar , Odisha ,
    
        
            </h3>
            <h3>Pin - 752100

            </h3>
    
</div>

</div>


</div>
<div id="footer">
    <app-footer></app-footer>
</div>


