<div data-aos="slide-up" data-aos-duration="1000">

<h2>Features</h2>
<p><b>  I have an ERP solution, do I need an alternative like MyKommunity?</b></p>

<p>This depends on the comfort factor of the user. While we can’t comment on ERP solutions, we can say that we have an edge over them because of our single-minded focus on simplifying security. Our APIs are open, making any IOT based applications compatible with the app technology-wise – so that in the future, the app can include more features at no substantial expense to society management companies. You can start using the app and then take a call.</p>

<p><b>How can I ensure that I have the updated version of the app?</b></p>

<p>If there are any major updates to features, we ensure that notifications to update the app are triggered. You can always check the Play store /App store for the updated version if you want to be extra safe.</p>

<p><b>Who can see my entry and exit logs?</b></p>

<p>If there is any requirement, the management committee can view data up to 6 months through the dashboard. By default, the data is not available for viewing by everyone.</p>

<p><b>What happens when residents move out?</b></p>

<p>The residents who move out of the premises are removed from the system and cannot access the premises after removal.</p>

<p><b>Can your person be on site for a week for half a day in the clubhouse and be available for our residents to ask any question or help them to download the app?</b></p>

<p>We address real-time queries about the app through YouTube links, flyers, email collaterals, signage at the main gate, standees at the clubhouse and other methods including WhatsApp groups. Using these methods, we are able to help address all queries that the residents of your organization might have, without the need for additional onboarding time.</p>

<p><b>How can I enable the Multi-Tier System?</b></p>

At an additional cost, the Multi-Tier System can be enabled by configuring the main gate device to the Towers. It is recommended that the perimeter or periphery be secured through MyKommunity while onboarding; if you decide otherwise, you can always set it up later when you feel the need for the same.
</div>