<!-- <app-header></app-header> -->


<!-- 
  <mat-card class="pt-4" >
    <div fxLayout="row wrap">
      <div fxFlex="50" fxFlex.gt-sm="20" fxFlex.sm="50" (click)="complain()">
        <div class="text-center pt-16 pb-16 border-right-light">
          <mat-icon color="primary">record_voice_over</mat-icon>
          <h4 class="m-0 ">{{readData2.length}}</h4>
          <small class="m-0 ">Complains</small>
        </div>
      </div>
      <div fxFlex="50" fxFlex.gt-sm="20" fxFlex.sm="50"  (click)="user()">
        <div class="text-center pt-16 pb-16 border-right-light">
          <mat-icon color="accent">groups_3</mat-icon>
          <h4 class="m-0 ">{{readData.length}}</h4>
          <small class="m-0 ">Total Users</small>
        </div>
      </div>
      <div fxFlex="50" fxFlex.gt-sm="20" fxFlex.sm="50" (click)="services()">
        <div class="text-center pt-16 pb-16 border-right-light">
          <mat-icon color="warn">home_repair_service</mat-icon>
          <h4 class="m-0 ">{{readData3.length}}</h4>
          <small class="m-0 ">Local Services</small>
        </div>
      </div>
      <div fxFlex="50" fxFlex.gt-sm="20" fxFlex.sm="50" (click)="flat()">
        <div class="text-center pt-16 pb-16 border-right-light">
          <mat-icon color="primary">apartment</mat-icon>
          <h4 class="m-0 ">{{readData4.length}}</h4>
          <small class="m-0 ">Flat</small>
        </div>
      </div>
      <div fxFlex="50" fxFlex.gt-sm="20" fxFlex.sm="50" (click)="Amenities()">
        <div class="text-center pt-16 pb-16">
          <mat-icon color="warn">home_work</mat-icon>
          <h4 class="m-0 ">{{readData5.length}}</h4>
          <small class="m-0 ">Amenity Booking</small>
        </div>
      </div>
    </div>
  </mat-card> -->

  <app-chart></app-chart>


