<div data-aos="slide-up" data-aos-duration="1000">
    <h2>Payments</h2>             
<p><b>What is the 'Payments' feature?</b></p>
<p>'Payments' helps you get timely updates on society dues. It makes payment of maintenance charges easy and hassle-free.</p>
<p><b>How can I pay my dues on the app?</b></p>
<ul>Click on the 'Community' tab on the app home screen > Payments > Pay Now on the specific invoice you want to make the payment > Transaction mode (UPI/ PayU) > Pay:
 <li>Payment flow via UPI —> Select UPI > Click Pay > Enter your UPI ID > Select Save > Click Submit > Make the payment from your UPI app</li>
 <li>Note: Receipt generation might take time for UPI payments. Please wait for 90 minutes for an email confirmation from MyKommunity.</li>
 <li>Payment flow via PayU/ RazorPay —> Select PayU/ RazorPay > Click Pay > Enter the phone number registered with bank > Select Payment Method > Make the payment</li>
 <li>Note: To know about the transaction charges, click on 'Transaction charges may apply' dropdown option under UPI/PayU.</li>
 <li>Select 'I have paid by Cheque/ Cash/ EFT' in case you have cleared the dues—> Select 'I have paid by Cheque/ Cash/ EFT' > Click on “Provide Details” > Select the date of Payment > Select the Mode of Payment > Enter details. Supporting documents and photos can be attached as well.</li>
 </ul>
<p><b>What payment modes are accepted on the MyKommunity app?</b></p>
<p>Payment on MyKommunity app can be made via UPI/ PayU/ Debit card/Credit card/Net Banking and e-wallets.</p>
<p><b>What are the UPI payments options on the app?</b></p>
<p>Payment can be made via all the UPI applications such as BHIM, Google Pay, WhatsApp, PhonePe, PayTM etc.</p>
<p><b>Where can I see my payment history?</b></p>
<ul>You need to:
 <li>Click on the 'Community' tab on the app home screen</li>
 <li>Select “Payments”</li>
<li>Click on the bill icon on the top right corner</li>
<li>Select the financial year from the dropdow</li>
 </ul>
<p><b>What is 'Advance', 'Dues', 'Overdues' on the Payments page?</b></p>
<ul>You need to:
 <li>Advance: The amount you pay over and above the invoice amount</li>
 <li>Dues: The date by when your payment is supposed to be paid </li>
<li>Overdues: Bills that are not paid on or before the due date. If yesterday was the last day to pay the bill but the payment was not cleared, the invoice becomes overdue as of today.</li>
 </ul>
<p><b>How do I make an advance payment?</b></p>
<ul>You need to:
<li>Click on the 'Community' tab on the app home screen</li>
<li>Click on 'Payments'</li>
<li>Click on the arrow next to Advance/ Dues/ Overdue in the right side corner</li>
<li>Select 'Pay Advance'</li>
<li>Enter the amount you want to pay as an advance</li>
<li>Click on 'Pay Advance'</li>
<li>Select the payment type via which you want to make the payment and “Pay”</li>
 </ul>
<p><b>What happens if I make payment that's more than my due amount?</b></p>
<p>The difference gets added to the advance. When the new invoice is generated, the bill amount is settled from the advance.</p>
<p><b>What is the difference between the invoice date, due date and overdue? Where can I find the invoice date and due date? </b></p>
<ul>You need to:
<li>Invoice date: The date on which an invoice is raised by the society management. You can find the invoice date beside the status of every invoice.</li>
<li>Due date: The date on or before which the payment has to be made or else a fine/penalty fee might be charged. Due date is mentioned at the bottom of every invoice.</li>
<li>Overdue: If the invoice crosses the due date it becomes overdue. If an invoice is not cleared on or before the due date, the status changes from 'Due' (blue colour) to 'Overdue' (red colour).</li>
<p><b>Where can I see receipts of my payments?</b></p>
</ul>
 <ul>
<li>Click on the 'Community' tab on the app home screen</li>
<li>Click on 'Payments'</li>
<li>Filter the Status to 'Paid' to find receipts for paid bills</li>
</ul>
<p><b>How can I intimate the society management team about my payment?</b></p>
<ul>
<li>Go to the 'Community' tab</li>
<li>Click on 'Payments'</li>
<li>Click 'I have paid' on the specific invoice</li>
<li>Select the mode of payment, enter the details and click 'Submit details'</li>
</ul>
<p><b>I already paid my dues but see them as outstanding. What's wrong?</b></p>
<p>If you use the MyKommunity app to clear your dues a receipt is generated immediately and there is no outstanding. In case you have used any other app or offline mode of payment then you could intimate the society management about the payment made following the steps below. The management can clear the dues and generate the receipt manually.</p>
<ul>
<li>Go to the 'Community' tab</li>
<li>Click 'Payments'</li>
<li>Click 'I have paid' on the specific invoice.</li>
<li>Select the mode of payment, enter the details and click 'Submit details'</li>
</ul>
<p><b>I can see some advance & dues amounts in my account. How do I adjust them?</b></p>
<p>The society management can adjust them for you.</p>
<p><b>I see a late payment fee added to my account but have an advance amount in my account.</b></p>
<p>In case the due amount has not been adjusted from the advance amount, please reach out to the society management.</p>
<p><b>When I click the 'I have paid' option, I get an error saying 'Payment request already created for this charge'.</b></p>
<p>It means you have already raised a request but the society management has not yet accepted or rejected it. The intimation is pending for action from the society management.</p>
<p><b>Can I pay my dues using any foreign bank card?</b></p>
<p>Yes. You can pay the dues using foreign cards via RazorPay. If RazorPay does not show up as a payment gateway option, please reach out to the society management to get it enabled. </p>
<p><b>What is a Financial Year?</b></p>
<p>In India, gated communities are commonly following a financial year based auditing & tax filing system. The financial year starts from 1st April of the current year and ends on 31st March of the following year.</p>
<p><b>I cannot see the 'Pay Now' button to make a payment. Why?</b></p>
<p>Online transactions are allowed in the current financial year only. The selected financial year in the app may be incorrect. Please change the financial year from the drop down option under 'Payments' menu to find the 'Pay Now' option.</p>
<p><b>How can I see my payment receipts for the previous financial years?</b></p>
<p>Once you click on 'Payments', you can see the current financial year. Click on it and select the options from the dropdown to change the view.</p>
<p><b>What is the meaning of each filter in the Payments section?</b></p>
<ul>
<li>New: New bill/invoice</li>
<li>Overdue: Bill/ invoice that has crossed the due date</li>
<li>Paid: Receipt of the payments you have made</li>
<li>Pending: Bill/invoice that “I Have Paid” intimation raised, but not accepted/ rejected by the society management team</li>
<li>Rejected: Bill/invoice that “I Have Paid” intimation raised and rejected by the society management team</li>
</ul>
<p><b>Should I use 'Pay dues' or ' Pay advance' to make a payment?</b></p>
<p>It is advisable to make the payment by selecting 'Pay dues'. You can use the 'Pay advance' option in case you do not have any dues to pay. This will minimise the chances of a late fee being charged incorrectly.</p>
<p><b>I see some dues from the previous year.  What is this?</b></p>
<p>When one financial year ends, the outstanding dues of the previous year get carried forward to the new financial year and show up with the tag 'From previous year'.</p>
<p><b>Why is a convenience fee charged?</b></p>
<p>There is a convenience fee for online payments in Housing Societies that payment gateways charge either the customer or the association. This is not true in the case of direct transfers made via NEFT/RTGS/P2P UPI. Merchants such as online shopping platforms bear the charges themselves but in the case of Residents' Associations, the user is charged.</p>
</div>

