<app-header [selectedLabel]="selectedLabel"></app-header>

<div class="sidenav" >
  <div class="logo-container">
    <button class="logo"
            @fadeInOut
            >
      <img src="../../../../assets/onboardlogo.png" alt="Company logo" height="40" width="40" class="logo-img">
    </button>
    <div class="logo-text" >MyKommunity</div>
    <!-- <button class="btn-close" @rotate (click)="closeSidenav()">
      <mat-icon>cancel</mat-icon>
    </button> -->
  </div>
  <mat-divider></mat-divider>

  <ul class="sidenav-nav">
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" (click)="backtoDash()">
        <mat-icon class="sidenav-link-icon">
          fast_rewind
        </mat-icon>
        <span class="sidenav-link-text" @fadeInOut >Back to Home</span>
      </a>
    </li> 
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a class="sidenav-nav-link"
         *ngIf="data.items && data.items.length > 0"
         (click)="handelClick(data)"
         [routerLink]="[data.routeLink]"
         routerLinkActive="active">
        <mat-icon class="sidenav-link-icon">
          {{ data.icon }}
        </mat-icon>
        <span class="sidenav-link-text" @fadeInOut >{{data.label}}</span>
        <mat-icon *ngIf="data.items" class="menu-collapsed-icon">
          {{ data.expanded ? 'arrow_drop_down' : 'arrow_right' }}
        </mat-icon>
      </a>

      <a class="sidenav-nav-link"
         *ngIf="!data.items || (data.items && data.items.length === 0)"
         [routerLink]="[data.routeLink]"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         (click)="handleLabelClick(data.label)">
        <mat-icon class="sidenav-link-icon">
          {{ data.icon }}
        </mat-icon>
        <span class="sidenav-link-text" @fadeInOut >{{data.label}}</span>
      </a>

      <div *ngIf="data.items && data.items.length > 0">
        <app-sublevel-payment-menu
          [data]="data"
          [expanded]="data.expanded"
          [multiple]="multiple"
          [collapsed]="!collapsed">
        </app-sublevel-payment-menu>
      </div>
    </li>
    <!-- <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" (click)="paymentdashboard()">
        <mat-icon class="sidenav-link-icon">
          currency_rupee
        </mat-icon>
        <span class="sidenav-link-text" @fadeInOut >Payment</span>
      </a>
    </li> -->
  </ul>
</div>