<div data-aos="slide-up" data-aos-duration="1000">
        <h2>Attendance & Staff Management</h2>            
    <p><b>How can MyKommunity tag my Household help to my App.</b></p>
    <p>With proper Government ID proof duly approved by society need to be furnish and a profile will be created for the same and will tag to resident where he employed.</p>
    <p><b>How MyKommunity Manages the Staff movements ?</b></p>
    <p>All entry of household been recorded by their time of In and Out along with resident intimation or notification so there is less chance of any trespassing or wrong house entry.</p>
     </div>