
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col ">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a  (click)="about()">About us</a></li>
                        <li><a (click)="contact()">Contact us</a></li>
                        <li><a href="#">Home</a></li>
                        <li><a (click)="features()">Features</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a (click)="termsncondition()">Terms & Conditions</a></li>
                        <li><a (click)="privacy_policy()">Privacy policy</a></li>
                        <li><a  (click)="checkWidth()" >FAQ</a></li>
                        <li><a (click)="refund()">Refund Policy</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>Address</h4>
                    <ul>
                        <li><a>Mohrisa Technologies</a></li>
                        <li><a>721,7th floor,</a></li>
                        <li><a>EsplanadeOne,</a></li>
                        <li><a>Rasulgarh,</a></li>
                        <li><a> Bhubaneswar</a></li>
                        <li><a>Odisha, 751010</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>Get in Touch</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/mohrisa.mohrisa.5/"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class=" bi bi-twitter"></i></a>
                        <!-- <a href="#"><i class="bi bi-google"></i></a> -->
                        <a href="https://www.linkedin.com/in/mohrisa-technologies-8334481b5"><i class="bi bi-linkedin"></i></a>
                        <a href="https://www.instagram.com/mohrisatech/"><i class="bi bi-instagram"></i></a>


                        
                    </div>
                    <div >
                        <a href="https://play.google.com/store/apps/details?id=com.mohrisa.mykommunity&hl=en-IN"><i class="m-1"><img src="../../../../assets/playstore.png" height="40" width="40"></i></a>
                        <a href="https://apps.apple.com/in/app/my-kommunity/id1572431710"><i class="m-1"><img src="../../../../assets/app-store.png" height="40" width="40"></i></a>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
