<div class="container-fluid" >   


    <div >
   
<div style="text-align:center;">
    <!-- <h1 style="color: rgb(51, 22, 116);">                
       
        <b>MyKommunity</b>

    </h1> -->
   
    <div class="image-container"> <img src="../assets/logo2.png" height="80" width="80"></div>

    <h3 style="color: rgb(51, 22, 116);">                
       
        <b>RESET PASSWORD</b>

    </h3>
    </div>   
     <form [formGroup]="form" class="resetform">
        <div style="border: dotted; " class="text-primary p-2 mb-3"> 
            Resetting of password can be done once in 24Hours.</div>

        <div>
            <mat-form-field appearance="fill"  class="full-width">
                <mat-label>Password</mat-label>
                <input matInput inputmode="tel" placeholder="Set a Password" formControlName="newPassword" #nameInput>
                <mat-error>Password is required</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill"  class="full-width">
                <mat-label>Confirm Password</mat-label>
                <input matInput inputmode="tel" placeholder="Re-Enter your Password" formControlName="confirmPassword" #nameInput>
                <mat-error>Confirm Password is required</mat-error>
                
            </mat-form-field>
            <div *ngIf="form.hasError('confirmPasswordValidator','confirmPassword')" class="alert alert-danger"> Password not matched</div> 
            
           </div>
     
           <div class="d-grid" >
            <button (click)="resetPassword()"  class="btn custom-btn"  [disabled]="!form.valid">
             
             Reset Password
         </button>
         </div>
                         
  </form>
</div>
</div>

<!-- <form action="/reset-password" method="post">
    <input type="hidden" name="token" value="{{tokenFromUrl}}">
    
    <label for="new-password">New Password:</label>
    <input type="password" id="new-password" name="newPassword" required>
    
    <button type="submit">Reset Password</button>
  </form> -->


 