.resetform{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

}
mat-form-field{
    width: 400px;
}
.custom-btn {
    background: rgb(51, 22, 116);
    color: white;
    
 }
 
 .custom-btn:disabled {
    background: rgb(110, 102, 102); /* Change the background color for the disabled state */
    color: white;
   
 }