<div data-aos="slide-up" data-aos-duration="1000">
        <h2>Amenities</h2>
                    
    <p><b>Amenities and its benefits</b></p>
    
    <p>For smooth running of society facilities we have online booking of all amenities like clubhouse , sport arena , dormitory and other facilities through mobile app . We can make payment to those services through our payment gateway app.</p>
    
    <p><b>Can I book amenities through MyKommunity ?</b></p>
    <ul>You need to:
    <li>Click on the 'Community' tab on the app home screen</li>
    <li>Click on 'Amenities'</li>
    <li>Click on 'Book Amenity' at the bottom of the app screen</li>
    <li>Select the Amenity, date and time slot</li>
    <li>Click on 'Book Now'</li>
    </ul>
    <p><b>Can I Pay online to the services ?</b></p>
    
    <ul>You need to:
     <li>Click on the 'Community' tab on the app home screen</li>
    <li>Click on  ' Amenities '</li>
    <li>Click on 'Book Amenity' at the bottom of the app screen</li>
    <li>Select the Amenity, date and time slot</li>
    <li>Click on 'Proceed to Payment'</li>
    <li>Select the Payment type </li>
    <li>Click on 'Book Now'</li>
     </ul>
     </div>