
<div>
    <app-root></app-root>
</div>
 
<div class="container-fluid">
    <h1 class="text-start justify-content mt-5"  style="color: rgb(64, 43, 110);" data-aos="fade-down" data-aos-duration="3000" ><b></b></h1>

   
    <h1 class="text-center justify-content mt-2"  style="color: rgb(64, 43, 110); font-size: 40px;" data-aos="fade-down" data-aos-duration="3000" ><b>REFUND POLICY</b></h1>

    <div class="background" ></div>

  <div>

    <div class="m-2 p-2">
        <h1 class="text-start justify-content mt-2" style="color: rgb(64, 43, 110);"
         data-aos="fade-down" data-aos-duration="1000" >
        <b>Returns</b></h1>
        <ul>
   <li> <h2>Should your transaction encounter any issues, we will reimburse the amount (excluding convenience charges) to your original payment method. </h2>
   
</li>
<li>
    <h2>Occasionally, banks or financial institutions may decline a transaction for various reasons. If this occurs, the full amount will be refunded to your account within 7 to 10 business days.</h2>
       </li> </ul> 
          <h2>However, <b>once a transaction is successfully completed, MyKommunity is unable to provide a refund.</b>
       </h2>
       <h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
       data-aos="fade-down" data-aos-duration="1000" >
   <b>Late or missing refunds (if applicable)</b></h1>
       <h2>If you haven't received a refund in 7 to 10 working days,  please contact us at 
    </h2>
<h2>
    <b>Name:</b> Anil Kumar Raju,        <b>Phone:</b> +917207065876,       <b>E-mail:</b> finance@mohrisa.com  
    </h2>
    
        
</div>

</div>


</div>
<div id="footer">
    <app-footer></app-footer>
</div>






<!-- <div>
    <app-root></app-root>
</div>
 
<div class="container-fluid">
    <h1 class="text-start justify-content mt-5"  style="color: rgb(64, 43, 110);" data-aos="fade-down" data-aos-duration="3000" ><b></b></h1>

   
    <h1 class="text-center justify-content mt-2"  style="color: rgb(64, 43, 110); font-size: 40px;" data-aos="fade-down" data-aos-duration="3000" ><b>REFUND POLICY</b></h1>

    <div class="background" ></div>

  <div>

<div class="m-2 p-2">
    <h1 class="text-start justify-content mt-2" style="color: rgb(64, 43, 110);"
     data-aos="fade-down" data-aos-duration="1000" >
    <b>Returns</b></h1>
        <h2>Our policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange. </h2>
    <h2>To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging. </h2>
    <h2>Several types of goods are exempt from being returned. Perishable goods such as food, flowers, newspapers or magazines cannot be returned. We also do not accept products that are intimate or sanitary goods, hazardous materials, or flammable liquids or gases.
     </h2>
    <ul>Additional non-returnable items:
     <li>Gift cards</li>
     <li>Downloadable software products</li>
     <li>Some health and personal care items</li>
 </ul>

     <h2>To complete your return, we require a receipt or proof of purchase</h2>
    <h2>Please do not send your purchase back to the manufacturer.</h2>
    <h2>There are certain situations where only partial refunds are granted: (if applicable)
        Book with obvious signs of use
        CD, DVD, VHS tape, software, video game, cassette tape, or vinyl record that has been opened.
        </h2>
        <h2>Any item not in its original condition, is damaged or missing parts for reasons not due to our error.</h2>
        <h2>Any item that is returned more than 30 days after delivery</h2>
    <h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
        data-aos="fade-down" data-aos-duration="1000" >
    <b>Refunds (if applicable)</b></h1>
        <h2>Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.
    If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days. 
     </h2>
    <h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
        data-aos="fade-down" data-aos-duration="1000" >
    <b>Late or missing refunds (if applicable)</b></h1>
        <h2>If you haven't received a refund yet, first check your bank account again.
    Then contact your credit card company, it may take some time before your refund is officially posted.
    Next contact your bank. There is often some processing time before a refund is posted.
    If you've done all of this and you still have not received your refund yet, please contact us at contact&#64;mohrisa.com
     </h2>
    <h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
        data-aos="fade-down" data-aos-duration="1000" >
    <b>Sale items (if applicable)</b></h1>
        <h2>Only regular priced items may be refunded, unfortunately sale items cannot be refunded.</h2>
    <h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
        data-aos="fade-down" data-aos-duration="1000" >
    <b>Exchanges (if applicable)</b></h1>
        <h2>We only replace items if they are defective or damaged.  If you need to exchange it for the same item, send us an email at contact&#64;mohrisa.com and send your item to:  Bhubaneswer.</h2>
    <h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
        data-aos="fade-down" data-aos-duration="1000" >
    <b>Gifts</b></h1>
        <h2>If the item was marked as a gift when purchased and shipped directly to you, you’ll receive a gift credit for the value of your return. Once the returned item is received, a gift certificate will be mailed to you.</h2>
        <h2>If the item wasn't marked as a gift when purchased, or the gift giver had the order shipped to themselves to give to you later, we will send a refund to the gift giver and he will find out about your return.</h2>
    <h1 class="text-start justify-content mt-2"  style="color: rgb(64, 43, 110);"
        data-aos="fade-down" data-aos-duration="1000" >
    <b>Shipping</b></h1>
        <h2>To return your product, you should mail your product to: 622 Manglam Electronic Market Bhubaneswer.
    You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.
    Depending on where you live, the time it may take for your exchanged product to reach you, may vary.
    If you are shipping an item over $75, you should consider using a trackable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.
    </h2>
    
        
</div>

</div>


</div>
<div id="footer">
    <app-footer></app-footer>
</div>

 -->
