<div>
    <app-root></app-root>
</div>
<div class="container">
    <h1 class="text-warning">Contact Us</h1>
    <div class="bg-image">
        <video 
            autoplay 
            muted 
            loop 
            playsinline 
            preload="auto">
            <source src="assets/contactus.mp4" type="video/mp4">
        </video>
    </div>
</div>

<div id="contact" class="justify-content"  data-aos="flip-right" data-aos-duration="3000">
    <div class="bg-text">
    <h4 class="text-warning">Address</h4>
    <p>My Kommunity
        721,EsplanadeOne,Rasulgarh, Bhubaneswar, Odisha 751010</p>
        <h4 class="text-warning">Contact Info</h4>
        <p>+919556923333</p>
        <h4 class="text-warning">Email</h4>
        <p>contact&#64;mohrisa.com</p>
</div>
</div>
<div style="margin-top: 150px;">
    <app-footer></app-footer>
</div>
