
<div class="container-fluid ">
    <div class="page_box" style="color: aliceblue;">
      <span mat-stroked-button class="btn  mt-1 p-2" style="color: white;" (click)="back()"><mat-icon>fast_rewind</mat-icon> </span>        

      Entry/Exit Record</div>
    <div class="page_content shadow p-3 position-relative">
        <div class="page_content-data position-absolute">
  </div>
  <div class="display">
    <ul class="icon-list">
      <li class="ps-5">
        <button class="icon-button" (click)="visitor()">
          <div class="icon-circle">
            <mat-icon>domain</mat-icon>
          </div>
          <span>Visitor Entry/Exit Record</span>
        </button>
      </li>
      <li>
        <button class="icon-button" (click)="dailyhelp()">
          <div class="icon-circle">
            <mat-icon>apartment</mat-icon>
          </div>
          <span>DailyHelp Entry/Exit Record</span>
        </button>
      </li>
      <li>
        <button class="icon-button" (click)="societyStaff()">
          <div class="icon-circle">
            <mat-icon>stairs</mat-icon>
          </div>
          <span>Society Staff Entry/Exit Record</span>
        </button>
      </li>
      
    </ul>
  </div>
  
    </div>
   
    </div>  