<div data-aos="slide-up" data-aos-duration="1000">
    <h2>Technology</h2>
                
<p><b>Why is Biometric not an ideal solution?</b></p>

<p>While biometric data provides a secure way to identify residents, it is highly sensitive and needs to be dealt with utmost care. Also, the infrastructure requirements are very high and IT Act 20 requires that all biometric data be renewed every 15 days.</p>

<p><b>Why is Access Card not an ideal solution?</b></p>

<p>People tend to forget access cards or lose them, and thus can be misused by anyone who has the card. Plus, printing cards and the churn rate is very high.</p>

<p><b> Why is RFID not an ideal solution?</b></p>

<p>Even when residents vacate their flats they can still retain the apartment RFID. This creates an issue. Additionally, infrastructure to set up RFID tags, RFID readers is quite extensive. Not just that, the infrastructure cost is also financially intensive.
    </p>
    </div>