<div class="container-fluid ">
    <div class="page_box" style="color: aliceblue;">
      <span>      <button mat-raised-button class="btn btn-lg m-1 p-2" style="color: rgb(250, 242, 242);" (click)="back()"><mat-icon>fast_rewind</mat-icon></button>          
      </span>
      Dues Receipt

    </div>
    <div class="page_content shadow p-3 position-relative">
        <div class="page_content-data position-absolute">
            </div>
           
            <h1>Dues Receipt : 1234 </h1> <br>
            <div class="fst">
             <div class="snd">
             <!-- <button class="btn btn-primary active m-1">Back to Dues</button>
             <button class="btn btn-primary active m-1"> Back to Receipt</button>
             <button class="btn btn-success m-1">Print</button> -->
             <button class="btn btn-primary m-1">Send</button>
             <!-- <button class="btn btn-danger m-1">Cheque Bounce</button> -->
             <button class="btn btn-danger m-1">Cancel</button>
             <!-- <button class="btn btn-primary m-1">Reverse to Advance</button> -->
             </div>
             <div class="thrd">
            
             </div>
            </div> <br>
            <div class="rcpt">
             <h1 style="text-align: center;">RECEIPT</h1>
            </div>
            <table align="center" border="1" width="95%">
            <thead>
         
            </thead>
            <tbody class="tbl">
             <tr>
                 <th >No:</th>
                 <td >100</td>
                 <td width="500"></td>
                 <th>House:</th>
                 <td>Tower-A 111</td>
             </tr>
             <tr>
                 <th>Date:</th>
                 <td>00-00-0000</td>
                 <td></td>
                 <th>Owner:</th>
                 <td>Prasant Paichha</td>
             </tr>
             <tr>
                 <td></td>
                 <td></td>
                 <td></td>
                 <th>Tenant:</th>
                 <td>Rakesh</td>
             </tr>
            </tbody>
               </table>
            <br>
            <table align="center" width="95%" border="1">
             <thead>
                 <tr>
                     <th width="200">Date</th>
                     <th width="600">Description</th>
                     <th class="amnt">Amount(&#8377;)</th>
                 </tr>
             </thead>
             <tbody>
                 <tr>
                     <td></td>
                     <td>Charges Settled</td>
                 </tr>
                 <tr class="tdd">
                     <td>00-00-0000</td>
                     <td class="tdd"><b>Fixed maintainence</b><br>Charged Amount:2,000.00 &nbsp;&nbsp; Due Date: 00-00-0000</td>
                     <td class="amnt">2,000.00</td>
                 </tr>

                </tbody>
               </table>
              
            </div>
            </div>