
<div class="container-fluid ">
    <div class="page_box" style="color: aliceblue;">
      <span class="btn" style=" color: white;" (click)="back()"><mat-icon>fast_rewind</mat-icon> </span>  
      State
    </div>
    <div class="page_content shadow p-3 position-relative">
        <div class="page_content-data position-absolute">
  </div>
  <button mat-stroked-button class="btn m-1 p-1" style="background-color: #1e293b; color: white;" (click)="open(content)"><mat-icon>add_circle_outline</mat-icon> Add State</button>
   <div class="table-wrapper">

         <table class="table table-bordered   ">
      <thead>
      <tr>
  
        <th scope="col"> Name</th>
        <th scope="col"> Created on</th>
        <th scope="col"> Status</th>
        <th scope="col">Edit</th>
       
      </tr>
      </thead>
      <tbody>
      <tr *ngFor = "let us of readData |
        paginate: { 
          itemsPerPage: 5, 
          currentPage:page,
          totalItems:totalLength
                        }">
          <th scope="row">{{us.name}}</th>
     
        <td>{{us.createdAt | date:'medium'}}</td>
        <td ><input type="button" style="color: white; border: 1px solid white;" [style.background-color]="map[us.disabled] === 'Active' ? 'green' : 'red'" (click)="UpdateButton(us)" value="{{map[us.disabled]}}">          
        </td>
        <td>
          <mat-icon color="primary" (click)="open(content)" (click)="OnEdit(us,form)" >edit</mat-icon>
        
          </td>
        
      </tr>
      
      </tbody>
      
       </table>
            </div>
    <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
    <div fxLayoutAlign="center center" fxFlexFill>

      <ng-template class="modal" #content let-modal style="background-color: rgba(196, 200, 167, 0.5);">
        
        <div class="modal-header" style="padding: 0px;">
          <mat-toolbar class="btn" style="background-color: #1e293b; color: white;">
            <h2 class="modal-title" id="modal-basic-title">Add State</h2>
          <button  type="button" class=" btn btn-close " aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </mat-toolbar>
        </div>
        <div class="modal-body" style="background-color: rgba(192, 222, 230, 0.5);"  >
          <mat-card fxFlex="100" >
          
        
            <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="form" >
              
              <mat-form-field appearance="standard"  class="full-width">
                <mat-label>State</mat-label>
                <input matInput inputmode="tel" placeholder="Enter State Name" formControlName="name" #nameInput>
                <mat-error>State is required</mat-error>
                
            </mat-form-field>
             
             
                               
        </form>
      </mat-card>
        </div>
      
        <div class="modal-footer">
          <button *ngIf="!getparamid" (click)="saveDetails(form)"  (click)="modal.close('Save click')"  class="btn" style="background-color: #1e293b; color: white;" [disabled]="!form.valid">create</button>
      <button *ngIf="getparamid" (click)="StateUpdate()"  (click)="modal.close('Save click')"  class="btn" style="background-color: #1e293b; color: white;" >Update</button>
          <button type="submit" class="btn btn-danger"  (click)="modal.close('Save click')">Cancel</button>
        </div>
        
      </ng-template>
      
      </div> 
    
  </div>
</div>
