<div data-aos="slide-up" data-aos-duration="1000">
        <h2>Communication</h2>
                    
    <p><b>What is the ‘Communication’ feature?</b></p>
    <p>Residents can use this feature to initiate a discussion with several groups within the community. These groups can be created by the society management team.</p>
    
    <p><b>How can I initiate a discussion among different groups in the society such as owners/tenants etc?</b></p>
    <ul>You need to:
    <li>Click on the ‘Community’ tab on the app home screen</li>
    <li>Click on ‘Communication’</li>
    <li>Click on ‘Start Discussion’ at the bottom of the app screen</li>
    <li>Type title and details. Photos and documents can also be attached</li>
    </ul>
    <p><b>How to hide a discussion?</b></p>
    
    <ul>You need to:
    <li>You can hide any discussion in two ways.</li>
    <li>Click on the discussion</li>
    <li>Click on the Eye icon on the top right corner of the app screen</li>
    
    <div style="display: flex; justify-content:flex-start; margin-left: 100px;">(OR)</div>
   
    <li>Click on the Eye icon on the discussion card</li>
    </ul>
    <p><b>How does my discussion get approved/ rejected?</b></p>
    <p>This is a society-specific setting which will be enabled depending on the management committee’s guidelines. In case the management committee does not want this setting to be enabled, the residents need not wait for the discussion to be approved by the Admin once it is initiated. Otherwise, any discussion initiated by the residents needs to be approved by the Admin so that other residents of the society can comment on it.</p>
    
    <p><b>How to initiate a Poll?</b></p>
    <p>Only society Admins can initiate a poll. When a Poll is created, the admin can also create options such as Yes/No so that residents can cast their vote accordingly.</p>
    </div>
    
    